
<div class="profile_advisor_col col-xs-12 center-xs u-space">
  <h1>Perfil Asesor</h1>
</div>

<div class="col-xs-12 card_white">
  <div class="card_container z-depth-2">        
    <div class="u-row gutter-xs u-space">
      <div class="col-xs-12">
        <p class="f-big tabs-subtitle-profile u-top"><strong>Información Personal</strong></p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Nombres:</strong></p>
        <p class="line_jump">Daniel Esteban</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">      
        <p class="line_jump"><strong>Código de Asesor:</strong></p>
        <p class="line_jump">0943549503XF5950</p>      
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Cargo de Asesor:</strong></p>
        <p class="line_jump">Nombre del Cargo</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Fecha de ingreso a la Compañía:</strong></p>
        <p class="line_jump">26/07/2006</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Gerente de Unidad:</strong></p>
        <p class="line_jump">Juan Carlos Silva Martínez</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Gerente de Agencia:</strong></p>
        <p class="line_jump">María Josefina Echeverría Garcia</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Email:</strong></p>
        <p class="line_jump">camilagalvezl@metlife.com</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Teléfono:</strong></p>
        <p class="line_jump">+56 9 7865432</p>
      </div> 

      <div class="col-xs-12 end-xs">
        <a href="#" class="button button-primary" data-open="clientProfileModal">Actualizar información</a>
      </div>              
    </div>
  </div>        
</div> 

<!--Modal actualizar información-->

<section>
  <div class="reveal_container">
    <div class="reveal_row u-row reveal" id="clientProfileModal" data-reveal>
      <div class="col-xs-12">
        <h4 class="u-space center-xs">Actualización tus datos de contacto</h4>
      </div>

      <div class="col-xs-12">
        <div class="u-row gutter-xs">
          <div class="col-xs-12 col-md-4">
            <label>Teléfono móvil</label>
            <input type="text" name="">
          </div>

          <div class="col-xs-12 col-md-4">
            <label>Teléfono móvil alternativo</label>
            <input type="text" name="">
          </div>
          
          <div class="col-xs-12 col-md-4">
            <label>Teléfono fijo</label>
            <input type="text" name="">
          </div>

          <div class="col-xs-12 col-md-8">
            <label>Correo Electrónico</label>
            <input type="text" name="">
          </div>
        </div>
      </div>        

      <div class="col-xs-12 middle-xs center-xs end-sm u-space">
        <a data-close aria-label="Close modal" class="u-right-sm u-top-sm col-xs-12 col-sm-3">Cancelar</a>
        <button class="button button-small button-full-xs clientProfileUpdateData" data-close aria-label="Close modal" type="button">Actualizar</button>
      </div>

      <button class="close-button" data-close aria-label="Cerrar modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>    
</section>