
<div class="profile_advisor_col col-xs-12 center-xs u-space">
  <h1>Perfil Asesor</h1>
</div>

<div class="col-xs-12 card_white">
  <div class="card_container z-depth-2">        
    <div class="u-row gutter-xs u-space">
      <div class="col-xs-12">
        <p class="f-big tabs-subtitle-profile u-top"><strong>Información Personal</strong></p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Nombres:</strong></p>
        <p class="line_jump">Daniel Esteban</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">      
        <p class="line_jump"><strong>Código de Asesor:</strong></p>
        <p class="line_jump">0943549503XF5950</p>      
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Cargo de Asesor:</strong></p>
        <p class="line_jump">Nombre del Cargo</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Fecha de ingreso a la Compañía:</strong></p>
        <p class="line_jump">26/07/2006</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Gerente de Unidad:</strong></p>
        <p class="line_jump">Juan Carlos Silva Martínez</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Gerente de Agencia:</strong></p>
        <p class="line_jump">María Josefina Echeverría Garcia</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Email:</strong></p>
        <p class="line_jump">camilagalvezl@metlife.com</p>
      </div>   

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <p class="line_jump"><strong>Teléfono:</strong></p>
        <p class="line_jump">+56 9 7865432</p>
      </div> 

      <div class="col-xs-12 end-xs">
        <a href="#" class="button button-primary">Actualizar información</a>
      </div>              
    </div>
  </div>        
</div> 