
<div class="row row-xs-1 row-md-2 u-divider">
  <div class="col-xs-12 col-md-6">
    <p><strong>Fecha de Relación</strong></p>
    <p>23/09/2008</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <p><strong>Fecha de Relación</strong></p>
    <p>23/09/2008</p> 
  </div>
</div>

<p class="f-big u-divider"><strong>Información Personal</strong></p>   

<div class="row row-xs-1 row-md-4">
  <div class="col-xs-12 col-md-3">
    <p><strong>Fecha de Nacimiento</strong></p>  
    <p>23/091978</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Edad</strong></p>  
    <p>31 años</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Género</strong></p>  
    <p>Masculino</p>
  </div>

  <div class="col-xs-12 col-md-3">
    <p><strong>Estado Civil:</strong></p>  
    <p>Soltero</p>
  </div>
</div>

<p class="f-big u-divider"><strong>Grupo Familiar</strong></p>   

<div class="row row-xs-1 row-md-4">
  <div class="col-xs-12 col-md-3">
    <p><strong>Cónyugue</strong></p>  
    <p>Maria Luisa Isabel Zamora Riquelme</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Hijos</strong></p>  
    <p>2</p>
  </div>
</div>

<p class="f-big u-divider"><strong>Perfil</strong></p>   

<div class="row row-xs-1 row-md-4">
  <div class="col-xs-12 col-md-3">
    <p><strong>Calidad Ocupacional:</strong></p>  
    <p>Título de Calidad</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Profesión</strong></p>  
    <p>Ingeniero Civil Industrial</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Hobbies:</strong></p>  
    <p>Pesca, Camping, Trekking</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Factor de Riesgo:</strong></p>  
    <p>Vector de Riesgo</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Perfil de Inversión</strong></p>  
    <p>Conservador</p>
  </div>
</div>

<p class="f-big u-divider"><strong>Datos de Contacto</strong></p>   

<div class="row row-xs-1 row-md-3">
  <div class="col-xs-12 col-md-6">
    <p><strong>Dirección Particular</strong></p>  
    <p>Monseñor Escribá de Balaguer 11.365 Casa A, Lo<br>Barnechea, Región Metropolitana. CP: 7540000</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Email</strong></p>  
    <p>daniel.llanos58@gmail.com</p>
  </div>
  
  <div class="col-xs-12 col-md-3">
    <p><strong>Teléfono</strong></p>  
    <p>+56 966 554 644 (Móvil)</p>
    <p>+56 966 554 644 (Fijo)</p>
  </div>  
</div>

<div class="end-xs">
  <a href="#" class="button button--primary">Actualizar información de contacto</a>
</div>
