<div class="header">
    <div class="header_container u-container">
        <div class="u-row no-gutter-xs top-xs start-sm">
            <div class="header_col col-xs-12 col-sm-2">
                <div class="u-row no-gutter-xs">
                    <div class="col-xs-6 col-sm-12">
                        <figure class="header_image">
                            <img src="{{root}}assets/img/logo.png" width="177px" alt="Logitpo Metlife">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <ul class="u-container">
        <li><a href="#">Cartera</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Herramientas</a></li>
        <li><a href="#">Campañas</a></li>
        <li><a href="#">Soporte Asesor</a></li>
    </ul>
</div>