
	@import './colors.scss';

	.button {
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    outline: none;
    padding: 13px 20px;
    text-transform: uppercase;
    transition: all .2s cubic-bezier( .4, 0, .2, 1 );
	}

	.button--primary {
		background-color: $primary;
		color: $white;
		&:hover {
			background-color: $primary-accent;
			text-decoration: underline;
		}
		&.disabled {
			&:hover {
				background-color: $primary;
			}
		}
	}

	.button--link {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: $link-rest;
    line-height: 1.2;
    padding: 0;
		&:hover {
			background-color: transparent;
			color: $link-hover;
		}
		&:focus,
		&:active {
			background-color: transparent;
		}
	}

  .button--secondary {
    background-color: $secondary;
    color: $dark-gray-2;
    &:hover {
      background-color: $green;
      text-decoration: underline;
    }
  }