
@import './colors.scss';

.button {
  border-radius: 3px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  outline: none;
  padding: 13px 20px;
  text-transform: uppercase;
  transition: all .2s cubic-bezier( .4, 0, .2, 1 );
  &.disabled {
    opacity: 0.6;
  }
}

.button--full {
  width: 100%;
}

.button--full-xs {
  width: 100%;
}

.button--link {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: $primary-accent;
  line-height: 1.2;
  padding: 0;
  &:hover {
    background-color: transparent;
    color: $primary-hover;
  }
  &:focus,
  &:active {
    background-color: transparent;
  }
}

.button--primary {
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: $primary-hover;
    color: white;
  }
  &.disabled {
    background-color: $primary;
    &:hover {
      background-color: $primary;
    }
  }
}

.button--secondary {
  background-color: $secondary;
  color: $dark-gray-2;
  &:hover {
    background-color: $secondary-hover;
    color: $dark-gray-2;
  }
}




//button size

.button--tiny {
  font-size: 10px;
}

.button--small {
  font-size: 12px;
}

.button--large{
  font-size: 16px;
}

.button--xlarge {
  font-size: 18px;
}



@media screen and (min-width: 48em)  {

  .button--full-xs {
    width: auto;
  }

}