
	@import 'color.scss';

	body {
		font-family: "Arial", sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Georgia", sans-serif;
		line-height: 1.3;
		margin: 0;
		font-weight: bold;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	p {
		margin-bottom: 8px;
		&.line_jump {
			line-height: 1;
			margin-bottom: 3px;
		}
		&.jump_line {
			line-height: 1.5;
			margin-bottom: 0;
		}
	}

	.f-bigger {
		font-size: 20px;
		line-height: 1.2;
	}

	.f-big {
		font-size: 18px;
		line-height: 1.2;
	}

	.f-normal {
		font-size: 16px;
		line-height: 1.2;
	}

	.f-link {
		border-bottom: 1px solid $link-hover;
		color: $link-rest;
		line-height: 1.2;
		&:hover {
			border-bottom: 1px solid transparent;
			color: $link-hover;
		}
	}

	.f-link-white {
		color: white;
		&:hover {
			border-bottom: 1px solid white;
			color: white;
		}
	}

	.f-small {
		font-size: 14px;
		line-height: 1.2;
	}

	.f-tiny {
		font-size: 12px;
		line-height: 1.2;
	}

	.f-legal {
		font-size: 12px;
		color: $dark-gray-3;
		line-height: 16px;
	}

  .f-error {
    color: $error;
    font-weight: 100;
    padding: 5px 10px;
  }
  .f-impago {
  	color: $error;
  }
   .f-activa {
  	color: $success;
  }
  .f-pendiente {
  	color: $warning;
  }


  @media screen and ( min-width: 48em ) {

  h5 {
		font-size: 20px;
	}

	h6 {
		font-size: 16px;
	}
}