
	@import 'color.scss';

	[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
		border: 1px solid !important;
		box-shadow: none !important;
	}

	[data-switch="show"] {
		display: block;
	}

	[data-switch="hide"] {
		display: none;
	}

	input:focus::-webkit-input-placeholder {
		color: transparent;
	}

	.intl-tel-input .country-list {
		z-index: 101;
	}

	.form-error {
		color: $pink;
		display: none;
		line-height: 1.6;
		margin-bottom: 0;
		padding: 36px 0 0;
		position: relative;
	}

	.is-invalid-input:not(:focus) {
		border: 1px solid $error-border !important;
		background-color: #f9ecea;
	}

	.input {
		display: inline-block;
		min-height: 40px;
		position: relative;
		vertical-align: top;
		width: 100%;
		z-index: 1;
	}

	.input_contact_client {
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 100%;
		z-index: 1;
	}

	.input--ichiro--currency {
		position: relative;
		&:before {
			color: black;
			content: "$";
			left: 26px;
			position: absolute;
			z-index: 101;
			top: 11px;
		}
		& > .InputCurrency {
			padding-left: 40px !important;
		}
	}

	.input__field {
		-webkit-appearance: none; /* for box shadows to show on iOS */
		border: 1px;
		border-radius: 3px;
		border-color: $medium-gray;
		color: $gray;
		display: block;
		float: right;
		padding: 0.8em;
		position: relative;
		width: 60%;
		&:active,
		&:focus {
			border: 1px solid $active-border !important;
			outline: none;
		}
	}

	.input--ichiro--textarea {
		height: 40px;
		margin-bottom: 80px;
		resize: none;
		textarea {
			height: 70px;
      &.big {
        height: 120px;
        resize: none;
      }
		}
	}

	.input__label {
		color: black;
		display: inline-block;
		font-weight: 400;
		padding: 0 1em;
		user-select: none;
		width: 40%;
	}

	.input__label-content {
		display: block;
		padding: 11px 0;
		position: relative;
		width: 100%;
		z-index: 100;
	}

	.input__field--ichiro {
		color: $dark-gray;
		display: block;
		left: 0;
		opacity: 1;
		padding: 10px;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		transform: scale3d(1, 1, 1);
		transition: opacity 0.3s, transform 0.3s !important;
		width: 100%;
		z-index: 100;
		&.middle {
			top: -22px;
		}
	}

	.input__calculate {
		padding: 10px;
	}

	.input__label--ichiro {
		cursor: text;
		text-align: left;
		width: 100%;
		border-radius: 3px;
	}

	.input__label--ichiro::before {
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		transition: transform 0.3s;
		width: 100%;
	}

	.input__label-content--ichiro {
		font-size: 16px;
		left: 0;
		top: 0;
		transition: all .3s cubic-bezier(.4,0,.2,1);
		border: none;
	}

	.input__field--ichiro,
	.input--filled .input__field--ichiro {
		opacity: 1;
	}

	.input__field--ichiro:focus + .input__label--ichiro,
	.input--filled .input__label--ichiro {
		cursor: default;
		pointer-events: none;
	}

	.input__field--ichiro:focus + .input__label--ichiro::before,
	.input--filled .input__label--ichiro::before {
		transform: scale3d(1, 1.5, 1);
	}

	.input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
	.input--filled .input__label-content--ichiro {
		font-size: 12.8px;
		left: -16px;
		top: -2rem;
		z-index: -1;
	}

	.input--error .input__label {
		color: $error;
	}

	.input--error .input__field {
		background-color: $error-light;
		color: $error;
	}

	.input--datepicker {
		.input__field {
			cursor: pointer;
			width: 100%;
		}
		.material-icons {
			color: $primary;
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 7px;
			z-index: 101;
		}
	}

	.input_responsive {
		margin-bottom: 30px;
	}

	.input-range-out {
		border: 1px solid $error;
		color: $error;
		font-weight: 800;
	}

	.input_date {
		padding-bottom: 25px;
	}

	.InputCurrencyBountyRowDefault {
		border: 0 !important;
		color: black;
		display: inline-block;
		padding: 0;
		position: relative;
		&:not(:focus) {
			border: 0 !important;
			background-color: transparent;
		}
	}

	@media screen and ( min-width: 62em ) {

		.input_date {
			padding-bottom: 0;
		}

		.InputCurrencyBountyRowDefault {
			max-width: 106px;
		}

	}
