
	@import './color.scss';

	.bullet-item {
		padding-left: 3rem;
		position: relative;
		&:before {
			background-color: black;
			border-radius: 50%;
			content: "";
			height: 4px;
			left: 1rem;
			position: absolute;
			top: 10px;
			width: 4px;
		}
	}

	.bullet-item_footer {
		position: relative;
		&:before {
			background-color: $medium-gray;
			border-radius: 50%;
			content: "";
			height: 4px;
			left: 0;
			position: absolute;
			top: 12px;
			width: 4px;
		}
	}

  .glosary-index {
    display: none;
    .glosary-index-item {
      display: inline-block;
      &.is-empty {
        > a {
          color: $dark-gray-3;
        }
      }
    }
    @media only screen and (min-width: 48em) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
    }
  }
  .glosary-index-xs {
    margin: 20px 0 10px 0;
  }
