
.pd-10 {
  padding: 10px;
}

.pd-20 {
  padding: 20px;
}

.pd-top-10 {
  padding-top: 10px;
}

.mg-right-15 {
  margin-right: 15px;
}

.mg-right-30 {
  margin-right: 30px;
}

.mg-bottom-10 {
  margin-bottom: 10px;
}
.mg-bottom-15 {
  margin-bottom: 15px;
}

.line-h-2.5 {
  line-height: 2.5;
}
