
@import './colors.scss';

/* Spaces */

  /* padding all */
    .pd-0-xs {
      padding: 0;
    }

    .pd-5 {
      padding: 5px;
    }

    .pd-10 {
      padding: 10px;
    }

    .pd-xs-10 {
      padding: 10px;
    }

    .pd-15 {
      padding: 15px;
    }

    .pd-20 {
      padding: 20px;
    }

    .pd-30 {
      padding: 30px;
    }
  /* /padding all */

  /* padding sides */
    .pd-bottom-5 {
      padding-bottom: 5px;
    }
    .pd-bottom-15 {
      padding-bottom: 15px;
    }
    .pd-bottom-20 {
      padding-bottom: 20px;
    }
    .pd-bottom-30 {
      padding-bottom: 30px;
    }

    .pd-left-10 {
      padding-left: 10px;
    }
    .pd-left-20 {
      padding-left: 20px;
    }
    .pd-left-25 {
      padding-left: 25px;
    }
    .pd-left-30 {
      padding-left: 30px;
    }
    .pd-left-50 {
      padding-left: 50px;
    }

    .pd-top-5 {
      padding-top: 5px;
    }
    .pd-top-7 {
      padding-top: 7px;
    }
    .pd-top-10 {
      padding-top: 10px;
    }
    .pd-top-15 {
      padding-top: 15px;
    }
    .pd-top-30 {
      padding-top: 30px;
    }
    .pd-top-i-50 {
      padding-top: 50px !important;
    }

    .pd-right-30 {
      padding-right: 30px;
    }
  /* /padding sides */


  /* padding vertical y horizontal */
    .pd-15-0 {
      padding: 15px 0;
    }

    .pd-30-0 {
      padding: 30px 0;
    }

    .pd-0-15 {
      padding: 0px 15px;
    }

    .pd-10-30 {
      padding: 10px 30px;
    }
  /* padding vertical y horizontal */


  //margin
  .mg-0-auto {
    margin: 0 auto;
  }

  .mg-bottom-xs-15 {
    margin-bottom: 15px;
  }

  .mg-bottom-xs-30 {
    margin-bottom: 30px;
  }

  .mg-bottom-0 {
    margin-bottom: 0;
  }

  .mg-bottom-5 {
    margin-bottom: 5px;
  }

  .mg-bottom-10 {
    margin-bottom: 10px;
  }

  .mg-bottom-12 {
    margin-bottom: 12px;
  }

  .mg-bottom-15 {
    margin-bottom: 15px;
  }

  .mg-bottom-16 {
    margin-bottom: 16px;
  }

  .mg-bottom-20 {
    margin-bottom: 20px;
  }

  .mg-bottom-22 {
    margin-bottom: 22px;
  }

  .mg-bottom-24 {
    margin-bottom: 24px;
  }

  .mg-bottom-60 {
    margin-bottom: 60px;
  }

  .mg-bottom-90 {
    margin-bottom: 90px;
  }

  .mg-left-20 {
    margin-left: 20px;
  }

  .mg-right-5 {
    margin-right: 5px;
  }

  .mg-right-10 {
    margin-right: 10px;
  }

  .mg-right-15 {
    margin-right: 15px;
  }

  .mg-right-30 {
    margin-right: 30px;
  }

  .mg-top-xs-15 {
    margin-top: 15px;
  }

  .mg-top-xs-30 {
    margin-top: 30px;
  }

  .mg-top-2 {
    margin-top: 2px;
  }

  .mg-top-16 {
    margin-top: 16px;
  }

  .mg-top-60 {
    margin-top: 60px;
  }

  .mg-top-30 {
    margin-top: 30px;
  }

  .mg-15-0 {
    margin: 15px 0;
  }

  .mg-20-0 {
    margin: 20px 0;
  }
  /* /Margin */

/* /Spaces */


/* Line Height */

  .lh-18 {
    line-height: 18px;
  }

/* Line Height */

/* Sizes */
.container-full-xs {
  padding: 0;
}

.max-width-10 {
  max-width: 10px;
}

.max-width-40 {
  max-width: 40px;
}

.max-height-39 {
  max-height: 39px !important;
}

.max-height-40 {
  max-height: 40px;
}

.mx-width-50 {
  max-width: 50px;
}


.mx-height-50 {
  max-height: 50px;
}
/* /Sizes */



/* Dividing lines */
.u-divider-container {
  section:last-of-type {
    .u-divider {
      border-bottom: 0;
    }
  }
}

.u-divider {
  border-bottom: 1px solid $gray;
}

.u-divider-policy {
  border-bottom: 1px solid $gray;
  padding-top: 10px;
}

.u-divider--calendar {
  border-bottom: 1px solid $gray;
  padding-bottom: 30px;
}

.u-divider-top {
  border-top: 1px solid $gray;
  padding-top: 15px;
}

.u-divider-top-15 {
  border-bottom: 1px solid $gray;
  padding-top: 15px;
}

.u-divider-bottom {
  border-bottom: 1px solid $gray;
  padding-bottom: 5px;
  &.pd-bottom-10 {
    padding-bottom: 10px;
  }
}
/* /Dividing lines */



@media only screen and ( min-width: 720px ) {

  .mg-right-sm-15 {
    margin-right: 15px;
  }

  .mg-top-xs-15 {
    margin-top: 0;
  }

  .mg-top-sm-20 {
    margin-top: 20px;
  }

  .pd-left-sm-10 {
    padding-left: 10px;
  }

}



@media only screen and ( min-width: 960px ) {

  .container-full-xs {
    padding: 0 15px;
  }

  .pd-xs-10 {
    padding: 0px;
  }


  .pd-0-15-md {
    padding: 0 15px;
  }

  .pd-left-md-10 {
    padding-left: 10px;
  }

  .pd-left-md-20 {
    padding-left: 20px;
  }

  .mg-right-10-i {
    margin-right: 10px !important;
  }

  .mg-bottom-xs-30 {
    margin-bottom: 0;
  }

  .mg-bottom-xs-15 {
    margin-bottom: 0;
  }

  .mg-top-xs-30 {
    margin-top: 0;
  }

  .mg-top-md--20 {
    margin-top: -20px;
  }

  .mg-bottom-md-30 {
    margin-bottom: 30px;
  }

  .mg-bottom-md-15 {
    margin-bottom: 15px;
  }

  .max-width-222 {
    max-width: 222px;
  }

  .max-width-982 {
    max-width: 982px;
  }

  .col-title {
    padding: 10px 10px 0;
    &:nth-child(1) {
      border-right: 1px solid;
      &.b-left {
        border-left: 1px solid;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid;
    }
    &:nth-child(3) {
      border-right: 1px solid;
    }
  }

  .col-subtitle {
    padding: 0 10px 10px;

    &:nth-child(1) {
      border-right: 1px solid;
      &.b-left {
        border-left: 1px solid;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid;
    }
    &:nth-child(3) {
      border-right: 1px solid;
    }
  }

  .col-subtitle-only {
    padding: 0px 10px 10px;
  }

  .b-right {
    &:nth-child(1) {
      border-right: 1px solid;
      .col-3-b-right {
        padding: 10px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-right: 1px solid;
        }
      }
    }
    &:nth-child(2) {
      border-right: 0;
    }
  }

  .col-3-b-right {
    padding: 10px;
    &:nth-child(1),
    &:nth-child(2) {
      border-right: 1px solid;
    }
  }

}



@media only screen and ( min-width: 1440px ) {

  .container-full-xs {
    padding: 0;
  }

}