<div class="col-xs-12 center-xs space-bottom">
  <h1>Perfil Asesor</h1>
</div>

<div class="col-xs-12 z-depth-2 pd-20 bg-white">
  <h5 class="space-bottom u-divider-bottom"><strong>Mis Datos</strong></h5>

  <div class="row row-xs-1 row-sm-2 row-md-3 pd-left-20">
    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Nombre</strong></p>
      <p class="line_jump">Adriana Johannes Diaz</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Fecha de ingreso a la Compañía:</strong></p>
      <p class="line_jump">26/07/2006</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Código de Asesor:</strong></p>
      <p class="line_jump">0943549503XF5950</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Cargo de Asesor:</strong></p>
      <p class="line_jump">Nombre del Cargo</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Gerente de Unidad:</strong></p>
      <p class="line_jump">Juan Carlos Silva Martínez</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Gerente de Agencia:</strong></p>
      <p class="line_jump">María Josefina Echeverría Garcia</p>
    </div>
  </div>

  <h5 class="space-bottom u-divider-bottom"><strong>Datos de Contacto</strong></h5>

  <div class="row row-xs-1 row-sm-2 row-md-3 pd-left-20">
    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Teléfono Fijo:</strong></p>
      <p class="line_jump">+56 2 75623455</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Teléfono Móvil:</strong></p>
      <p class="line_jump">+56 9 7865432</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Teléfono Alternativo:</strong></p>
      <p class="line_jump">+56 2 75623455</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 space-bottom">
      <p class="line_jump"><strong>Email:</strong></p>
      <p class="line_jump">camilagalvezl@metlife.com</p>
    </div>
  </div>

  <div class="end-xs mg-bottom-10">
    <a href="#" class="button button--primary" data-open="clientProfileModal">Actualizar información</a>
  </div>
</div>



<!--Modal actualizar información-->
<div class="reveal" id="clientProfileModal" data-reveal>
  <div class="reveal__content space-top">
    <div>
      <h4 class="space-bottom center-xs">Actualiza tus datos de contacto</h4>
    </div>

    <div>
      <label><strong>Teléfono móvil</strong></label>
      <input type="text" name="">
    </div>

    <div>
      <label><strong>Teléfono móvil alternativo</strong></label>
      <input type="text" name="">
    </div>

    <div>
      <label><strong>Teléfono fijo</strong></label>
      <input type="text" name="">
    </div>

    <div>
      <label><strong>Correo Electrónico</strong></label>
      <input type="text" name="">
    </div>
  </div>

  <div class="row row-xs-2 middle-xs">
    <div class="col-xs-8 end-xs">
      <a data-close aria-label="Close modal" class="col-xs-12 col-sm-3">Cancelar</a>
    </div>

    <div class="col-xs-4">
      <button class="button button--primary button--full clientProfileUpdateData" data-close aria-label="Close modal" type="button">Actualizar</button>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Cerrar modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>