
	<footer class="footer">
		<div class="footer_container u-container">
			<div class="footer_row u-row no-gutter-xs top-xs start-sm">
				<div class="footer_col col-xs-12 col-sm-2">
					<div class="footer_irow u-row no-gutter-xs">

            <div class="footer_col_list col-xs-6 col-sm-12">
							<figure class="footer_image">
								<img src="{{root}}assets/img/logo.png" width="120px" alt="Logitpo Metlife">
							</figure>
						</div>

            <div class="footer_col_list col-xs-6 hide-sm col-sm-12">
							<ul class="footer_list u-row no-gutter-xs end-xs">
								<li class="footer_list-item">
									<a href="https://es-la.facebook.com/MetLifeCl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="footer_list-item">
									<a href="https://twitter.com/metlife" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>

            <div class="footer_col_list col-xs-12 center-xs start-sm f-small u-top">
							<a href="tel:+566003903000">600 390 3000</a>
						</div>
					</div>
				</div>
				<div class="footer_col col-xs-12 col-sm-8">
					<ul class="footer_list u-row no-gutter-xs middle-xs center-xs start-sm u-space">
						<li class="footer_list-item bullet-item_footer">
							<a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/informacion-corporativa.html" target="_blank" class="f-link f-tiny">Información Corporativa</a>
						</li>

						<li class="footer_list-item bullet-item_footer">
							<a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/politica-de-privacidad.html" target="_blank" class="f-link f-tiny">Política de Privacidad</a>
						</li>

            <li class="footer_list-item bullet-item_footer">
							<a href="http://w3.metlife.cl/servicio-al-cliente/consultas-y-reclamos.html" target="_blank" class="f-link f-tiny">Circular Nº 2131</a>
						</li>

            <li class="footer_list-item bullet-item_footer">
							<a href="http://www.ddachile.cl/v5/Inicio.aspx" target="_blank" class="f-link f-tiny">Defensor del Asegurado</a>
						</li>

            <li class="footer_list-item bullet-item_footer">
							<a href="https://w3.metlife.cl/assets/documentassets/codigo_atorregulacion_y_compendio_buenas_practicas.pdf" target="_blank" class="f-link f-tiny">Consejo de Autorregulación</a>
						</li>
					</ul>

							<p class="f-legal center-xs start-sm"><span class="show-xs hide-sm"><br></span>© 2017 Metlife Chile, Agustinas 640, Santiago, Chile. Desde teléfonos celulares o desde el extranjero al <a href="tel:+56228264790">+56 2 2826 47 90</p>

				</div>
				<div class="footer_col col-xs-12 col-sm-2 hide-xs show-sm">
					<ul class="footer_list u-row no-gutter-xs middle-xs center-xs end-sm">
						<li class="footer_list-item">
							<p class="f-tiny">Síguenos</p>
						</li>
						<li class="footer_list-item">
							<a href="https://es-la.facebook.com/MetLifeCl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li class="footer_list-item">
							<a href="https://twitter.com/metlifechile" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
