
<div class="banner_container">
  <div class="banner_row">
    <div class="banner_col">
      <figure>
        <img src="{{root}}/assets/images/home/banner.jpg" class="banner_img">
      </figure>  
      <div class="banner_content u-container">
        <h2 class="banner_title center-xs start-md">Metlife asesores</h2>
        <div class="u-row gutter-md">
          <div class="col-xs-12 col-md-6 u-space">
            <div class="card_banner">
              <p class="f-bigger u-space">Busca en tu cartelera de clientes y productos</p>
              <div class="u-row center-xs u-space banner_tab_row">
                <div class="col-xs-6 advised"><p class="zero">Asesorado</p></div>
                <div class="col-xs-6 policy"><p class="zero">Póliza</p></div>
              </div>
              <div class="u-row gutter-xs">
                <div class="col-xs-12 col-sm-4"><input type="text" name="" placeholder="R.U.T"></div>
                <div class="col-xs-12 col-sm-5"><input type="text" name="" placeholder="Nombre"></div>
                <div class="col-xs-12 col-sm-3 end-xs u-space-xs"><a href="#" class="button button-primary">Buscar</a></div>
                <div class="col-xs-12 end-xs start-md-md"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div> 
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 center-xs u-space">
            <div class="card_banner">
              <p class="f-bigger u-space">Título de modulo para Campañas</p>
              <p class="u-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div>
                <a href="#" class="button button-primary">Ver campaña</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 