
<div class="banner_container">
  <div class="banner_row">
    <div class="banner_col col-xs-12">
      <figure>
        <img src="{{root}}/assets/img/banner.jpg">
      </figure>
    </div>      

    <div class="banner_col banner_content col-xs-12 u-container">
      <h2 class="banner_title">Metlife asesores</h2>
      <div class="u-row gutter-xs">
        <div class="col-xs-12 col-md-5-5 card_banner banner_grid">
          <p class="f-bigger">Busca en tu cartelera de clientes y productos</p>
          <div class="u-row center-xs">
            <div class="col-xs-6"><p>Asesorado</p></div>
            <div class="col-xs-6"><p> Póliza</p></div>
          </div>
          <div class="u-row gutter-xs">
            <div class="col-xs-12 col-sm-4"><input type="text" name=""></div>
            <div class="col-xs-12 col-sm-4"><input type="text" name=""></div>
            <div class="col-xs-12 col-sm-4"><a href="#" class="button button-primary">Buscar</a></div>
            <div class="col-xs-12 end-xs"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div>
          </div>
        </div>

        <div class="col-xs-12 col-md-5-5 card_banner center-xs">
          <p class="f-bigger">Título de modulo para Campañas</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div>
            <a href="#" class="button button-primary">Ver campaña</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 