
<div class="calendar_container u-container">
  <div class="calendar_row u-row gutter-xs">
    <div class="calendar_col col-xs-12 col-md-4 card_white">
      <div class="card_container z-depth-2">
        <div class="u-row">
          <div class="col-xs-4">
            <figure>
              <img src="{{root}}/assets/img/calendar.png">
            </figure>
          </div>
          <div class="col-xs-8">
            <p>Praesent commodo susrd magna, vel secle nisl condee</p>
            <p>Julio 23, 2017 | <a href="#">Conferencia</a></p>
          </div>
        </div>

        <div>
          <p class="u-space">Praesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condee condee</p>
        </div>

        <div class="end-xs">
          <a href="">Ver más</a>
        </div>
      </div>
    </div>

    <div class="calendar_col col-xs-12 col-md-4 card_white">
      <div class="card_container z-depth-2">
        <h6 class="u-space">Componente Calendario</h6>
        <p class="u-space">Praesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs">
          <a href="#" class="button button-primary">Ver calendario</a>
        </div>
      </div>
    </div>

    <div class="calendar_col col-xs-12 col-md-4 card_white">
      <div class="card_container z-depth-2">
        <h6 class="u-space">Título de Componente Calendario</h6>
        <p>Praesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs">
          <a href="#" class="button button-primary">Ver calendario</a>
        </div>
      </div>
    </div>
  </div>
</div>  