
<div class="calendar_container u-container">
  <div class="calendar_row u-row gutter-xs">
    <div class="calendar_col col-xs-12 col-md-4 card_white u-space">
      <div class="card_container z-depth-2">
        <div class="u-row gutter-xs u-space middle-xs">
          <div class="col-xs-4">
            <figure>
              <img src="{{root}}/assets/img/calendar.png">
            </figure>
          </div>
          <div class="col-xs-8">
            <p class="line_jump"><strong>Praesent commodo susrd magna, vel secle nisl condee</strong></p>
            <p>Julio 23, 2017 | <a href="#">Conferencia</a></p>
          </div>
        </div>

        <div>
          <p class="u-space">Praesent commodo susrd magna, vel secle nisl conde raesent commodo susrd magna, vel secle nisl cond raesent commodo susrd magna, vel secle nisl conde raesent comm susrd magna, vel secle nisl condee condee</p>
        </div>

        <div class="end-xs bottom-xs">
          <a href="#" class="">Ver más</a>
        </div>
      </div>
    </div>

    <div class="calendar_col col-xs-12 col-md-4 card_white u-space">
      <div class="card_container z-depth-2">
        <h5 class="u-space center-xs title_space">Componente Calendario</h5>
        <p class="u-space">Praesent commodo susrd magna, vel secle nisl conde raesent commo susr magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs button_container">
          <a href="#" class="button button-primary">Ver calendario</a>
        </div>
      </div>
    </div>

    <div class="calendar_col col-xs-12 col-md-4 card_white u-space">
      <div class="card_container z-depth-2">
        <h5 class="u-space center-xs title_space">Título de Componente Calendario</h5>
        <p class="u-space">Praesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs button_container">
          <a href="#" class="button button-primary">Ver calendario</a>
        </div>
      </div>
    </div>
  </div>
</div>  