
<div class="metclub_container u-container">
  <div class="metclub_row u-row">
    <div class="metclub_col col-xs-12 col-md-4">
      <figure>
        <img src="{{root}}/assets/img/metclub.png" class="metclub_img">
      </figure>
    </div>

    <div class="metclub col-xs-12 col-md-8 card_blue title_metclub">
      <div class="u-row middle-xs gutter-xs">
        <div class="col-xs-12 col-md-9 center-xs start-md u-space">
          <h4 class="u-space-xs">Título de componente MetClub</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
        <div class="col-xs-12 col-md-3 center-xs u-space">
          <button class="button button-dark">Ir a metclub</button>
        </div>
      </div>
    </div>
  </div>
</div>