<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">      
      <li class="is-active orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md">Metlife asesores</h2>
        </div>
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/images/home/slider-1.jpg">        
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md">Metlife asesores</h2>
        </div>
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/images/home/banner.jpg">
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md">Metlife asesores</h2>
        </div>
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/images/home/slider-1.jpg">
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md">Metlife asesores</h2>
        </div>
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/images/home/banner.jpg">
        </figure>
      </li>
    </ul>
  </div>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>

  <div class="container banner-content">
    {{> content-carousel}}
  </div>
  
</div>

