
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">      
      <li class="is-active orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md f-shadow">Conferencia Educativa 2018: ¡Viena te espera!</h2>
        </div>
        <figure>
          <img class="objFit" src="https://media.istockphoto.com/photos/schonbrunn-palace-picture-id543360766?s=2048x2048">
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md f-shadow">Gestiona tu cartera y rentabiliza tu negocio.</h2>
        </div>
        <figure>
          <img class="objFit" src="https://media.istockphoto.com/photos/they-have-a-great-working-relationship-picture-id589565108?s=2048x2048">
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="container orbit-title">
          <h2 class="f-white center-xs start-md f-shadow">Ten a la mano las herramientas que necesitas.</h2>
        </div>
        <figure>
          <img class="objFit" src="https://media.istockphoto.com/photos/teamwork-business-meeting-picture-id624002776?s=2048x2048">
        </figure>
      </li>
    </ul>
  </div>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
  </nav>

  <div class="container banner-content container-full-xs">
    {{> content-carousel}}
  </div>
  
</div>
