
<div class="row row-xs-1 row-md-2 gutter-md">
  <div class="col-xs-12 col-md-6 mg-bottom-xs-30">
    <div class="card-banner bg-clarity">
      <p class="f-bigger space-bottom"><strong>Quiero buscar información de mi Cartera por:</strong></p>
      <div class="row row-xs-2 center-xs no-gutter banner-tab mg-bottom-15" data-tabs id="tabsCard">
        <div class="tab-size tab-size--left banner-tab--client tabs-title is-active">
          <a href="#clients" aria-selected="true" class="tab-carousel">Cliente</a>
        </div>

        <div class="tab-size tab-size--right banner-tab--policy tabs-title">
          <a data-tabs-target="policy" href="#policy" class="tab-carousel">Póliza</a>
        </div>
      </div>

      <div class="tabs-content" data-tabs-content="tabsCard">
        <div class="tabs-panel is-active" id="clients">
          <div class="mg-bottom-15">
            <input type="text" name="" placeholder="R.U.T." class="input-data full">
          </div>

          <div class="mg-bottom-15">
            <input type="text" name="" placeholder="Nombre" class="input-data full">
          </div>

          <div class="row row-xs-1 row-sm-2 middle-xs">
            <div class="col-xs-12 col-sm-6 center-xs start-sm">
              <a href="#" class="f-link f-tiny">Búsqueda Avanzada</a>
            </div>

            <div class="col-xs-12 col-sm-6 end-xs first-xs last-sm mg-bottom-xs-15">
              <a href="#" class="button button--primary button--full-xs">Buscar</a>
            </div>
          </div>
        </div>

        <div class="tabs-panel" id="policy">
          <div class="row row-xs-1">
            <div class="col-xs-12">
              <input type="text" name="" placeholder="Número de Póliza" class="input-data full">
            </div>
          </div>

          <div class="row row-xs-2  row-sm-2 middle-xs">
            <div class="col-xs-12 col-sm-6 center-xs start-sm">
              <a href="#" class="f-link f-tiny">Búsqueda Avanzada</a>
            </div>

            <div class="col-xs-12 col-sm-6 end-xs first-xs last-sm mg-bottom-xs-15">
              <a href="#" class="button button--primary button--full-xs">Buscar</a>
            </div>        
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-6 mg-bottom-xs-30 card-banner__bells">
    <div class="card-banner bg-clarity center-xs">
      <p class="space-bottom f-bigger"><strong>Quiero gestionar mi Cartera</strong></p>
      <p class="space-bottom">Revisa cómo alcanzar tus metas rentabilizando tu cartera mediante distintas campañas.</p>
      <div class="mg-top-60">
        <div class="button-bell"><a href="#" class="button button--primary button--full-xs">Ir</a></div>
      </div>
    </div>
  </div>
</div>