
<div class="row row-xs-1 row-md-2 bottom-xs gutter-md">
  <div class="col-xs-12 col-md-6 mg-bottom-xs-30">
    <div class="card-banner bg-clarity">
      <p class="f-bigger space-bottom"><strong>Búsqueda de tus Clientes y Pólizas</strong></p>
      <div class="row row-xs-2 center-xs no-gutter banner-tab mg-bottom-15" data-tabs id="tabsCard">
        <div class="tab-size tab-size--left banner-tab--client tabs-title is-active">
          <a href="#clients" aria-selected="true" class="tab-carousel">Clientes</a>
        </div>

        <div class="tab-size tab-size--right banner-tab--policy tabs-title">
          <a data-tabs-target="policy" href="#policy" class="tab-carousel">Póliza</a>
        </div>
      </div>

      <div class="tabs-content" data-tabs-content="tabsCard">
        <form id="formClient" class="formValidateInput" data-parsley-validate="">
          <div class="tabs-panel is-active" id="clients">

            <div class="mg-bottom-10 fieldParent">
              <span class="input input--ichiro">
                <input class="input__field input__field--ichiro" data-parsley-errors-messages-disabled data-parsley-trigger="input" type="text" id="loginRut" placeholder="R.U.T" required />
                <p class="form-error f-tiny pd-top-i-50">No tenemos registrado este RUT. Por favor, revisa que esté correcto.</p>
              </span>
            </div>

            <div class="mg-bottom-10 fieldParent">
              <span class="input input--ichiro">
                <input class="input__field input__field--ichiro" data-parsley-errors-messages-disabled data-parsley-trigger="input" data-live-validate="true" type="text" placeholder="Cliente" id="loginClient" required />
                <p class="form-error f-tiny pd-top-i-50">Ingresa un Cliente válido.</p>
              </span>
            </div>
            
            <!-- Contenido de búsqueda avanzada -->
            <section class=" toggleContent no-padding-bottom" data-toggle-content="search-advanced">
              <div class="row row-xs-1 row-md-2 mg-bottom-15">
                <div class="col-xs-12 col-md-6 fieldParent">
                  <section class="u-select" data-parsley-trigger="change">
                    <select class="cs-select cs-skin-border bg-white GeneralSelect" data-parsley-errors-messages-disabled="" required="">
                      <option value="cat1">cat1</option>
                      <option value="cat2">cat2</option>
                      <option value="" selected="">Selecciona un estado</option>
                    </select>
                  </section>
                </div>
                <div class="col-xs-12 col-md-6 fieldParent">
                  <section class="u-select" data-parsley-trigger="change">
                    <select class="cs-select cs-skin-border bg-white GeneralSelect" data-parsley-errors-messages-disabled="" required="">
                      <option value="cat1">cat1</option>
                      <option value="cat2">cat2</option>
                      <option value="" selected="">Selecciona un producto</option>
                    </select>
                  </section>
                </div>
              </div>
            </section>
            <!-- /Contenido de búsqueda avanzada -->

            <div class="row row-xs-1 row-md-2 middle-xs">
              <div class="col-xs-12 col-md-6 center-xs start-md">
                <a href="" class="openContent f-link f-tiny" data-open-content="search-advanced">
                  <span class="openContentText is-open" data-rest-text="Búsqueda Avanzada" data-open-text="Búsqueda Avanzada">Búsqueda Avanzada</span>
                </a>
              </div>

              <div class="col-xs-12 col-md-6 end-xs first-xs mg-bottom-xs-15">
                <input class="button button--primary button--full-xs" type="submit" value="Buscar" />
              </div>
            </div>
          </div>
        </form>

        <form id="formPoliza" class="formValidateInput" data-parsley-validate="">
          <div class="tabs-panel" id="policy">
            <div class="row row-xs-1">
              <div class="col-xs-12 mg-bottom-10 fieldParent">
                <span class="input input--ichiro">
                  <input class="input__field input__field--ichiro" placeholder="Número de Póliza" data-parsley-errors-messages-disabled data-parsley-trigger="input" type="text" id="loginPolicy" required />
                  <p class="form-error f-tiny pd-top-i-50">Ingresa un número de póliza.</p>
                </span>
              </div>
            </div>
            
            <!-- Contenido de mostrar cartera-->
            <section class=" toggleContent no-padding-bottom" data-toggle-content="portfolio-full">
              <div class="row row-xs-1 row-md-2 mg-bottom-15">
                <div class="col-xs-12 col-md-6 fieldParent">
                  <section class="u-select" data-parsley-trigger="change">
                    <select class="cs-select cs-skin-border bg-white GeneralSelect" data-parsley-errors-messages-disabled="" required="">
                      <option value="cat1">cat1</option>
                      <option value="cat2">cat2</option>
                      <option value="" selected="">Selecciona un estado</option>
                    </select>
                  </section>
                </div>
                <div class="col-xs-12 col-md-6 fieldParent">
                  <section class="u-select" data-parsley-trigger="change">
                    <select class="cs-select cs-skin-border bg-white GeneralSelect" data-parsley-errors-messages-disabled="" required="">
                      <option value="cat1">cat1</option>
                      <option value="cat2">cat2</option>
                      <option value="" selected="">Selecciona un producto</option>
                    </select>
                  </section>
                </div>
              </div>
            </section>
            <!-- /Contenido de mostrar cartera-->

            <div class="row row-xs-1 row-md-2 middle-xs">
              <div class="col-xs-12 col-md-6 center-xs start-md">
                <a href="" class="openContent f-link f-tiny" data-open-content="portfolio-full">
                  <span class="openContentText is-open" data-rest-text="Mostrar Cartera Completa" data-open-text="Mostrar Cartera Completa">Mostrar Cartera Completa</span>
                </a>
              </div>
              <div class="col-xs-12 col-md-6 first-xs end-md mg-bottom-xs-15">
                <input class="button button--primary button--full-xs" type="submit" value="Buscar" />
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-6 mg-bottom-xs-30 card-banner__bells">
    <div class="card-banner bg-clarity center-xs">
      <p class="space-bottom f-bigger"><strong>Tus Campañas</strong></p>
      <p class="space-bottom">Revisa acá las diferentes campañas que te permitirán proteger mejor a tus clientes, potenciando tu cartera.</p>
      <div class="button-bell">
        <a href="#" class="button button--primary button--full-xs">Ver campañas</a>
      </div>
    </div>
  </div>
</div>