
	<nav class="nav-sub">
		<div class="container">
			<div class="row row-xs-3 row-sm-2 middle-xs bottom-sm">
				<div class="col-xs-4 hide-sm">
					<button type="button" class="off-canvas--open button button--link" data-toggle="offCanvas">
						<span class="off-canvas--open-button"><i class="material-icons">menu</i></span>
						<span class="off-canvas--close"><i class="material-icons">close</i></span>
					</button>
				</div>

				<div class="col-xs-4 col-sm-6">
					<div class="row center-xs start-sm middle-xs bottom-sm">
						<figure class="nav-sub__image mg-right-15">
							<a href="{{root}}">
								<img src="{{root}}assets/images/login/logo.png" alt="Logotipo" width="150" />
							</a>
						</figure>
						<div class="hide-xs show-sm">
							<h6><a href="#">Camila Galvez Leonard</a></h6>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-sm-6">
					<div class="row end-xs">
            <a href="{{root}}datos-cliente/datos-cliente.html" class="hide-xs show-sm F f-small f-black mg-right-15">Mi Perfil</a>
					  <a href="login.html" class="F f-small f-black">Salir</a>
          </div>
				</div>
			</div>
		</div>
	</nav>