
	<nav class="nav hide-xs show-sm">
		<div class="nav_container u-container">
			<ul class="nav_list_header u-row center-xs dropdown menu " data-dropdown-menu>
				<li class="nav_list-item col-md-2">
					<a href="#" class="nav_list-link f-link-white hide-xs show-sm F"><strong>Cartera</strong></a>
				</li>

				<li class="nav_list-item col-md-2">
					<a href="#" class="nav_list-link f-link-white F"><strong>Reportes</strong></a>
				</li>

        <li class="nav_list-item col-md-2">
          <a href="{{root}}/perfil-asesor.html" class="nav_list-link f-link-white F"><strong>Perfil asesor</strong></a>
        </li>

        <li class="nav_list-item col-md-2">
          <a href="{{root}}/herramientas.html" class="nav_list-link f-link-white F"><strong>Herramientas</strong></a>
        </li>

        <li class="nav_list-item col-md-2">
          <a href="{{root}}/cumpleaños.html" class="nav_list-link f-link-white F"><strong>Cumpleaños</strong></a>
        </li>

				<li class="nav_list-item col-md-2">
					<a href="#" class="nav_list-link f-link-white F"><strong>Soporte asesor</strong></a>
				</li>
			</ul>
		</div>
	</nav>