
	<nav class="bg-primary-accent hide-xs show-sm">
		<div class="container">
			<ul class="row row-md-6 center-xs menu around-xs between-md" data-dropdown-menu>
				<li class="col-md-2">
					<a href="{{root}}cartera.html" class="F f-link-white"><strong>Cartera</strong></a>
				</li>

				<li class="col-md-2">
					<a href="#" class="F f-link-white"><strong>Reportes</strong></a>
				</li>

        <li class="col-md-2">
          <a href="{{root}}perfil-asesor.html" class="F f-link-white"><strong>Perfil asesor</strong></a>
        </li>

        <li class="col-md-2">
          <a href="{{root}}herramientas.html" class="F f-link-white"><strong>Herramientas</strong></a>
        </li>

        <li class="col-md-2">
          <a href="{{root}}cumpleanos.html" class="F f-link-white"><strong>Cumpleaños</strong></a>
        </li>

				<li class="col-md-2">
					<a href="{{root}}soporte-asesor/soporte-asesor.html" class="F f-link-white"><strong>Soporte asesor</strong></a>
				</li>
			</ul>
		</div>
	</nav>