
<div class="off-canvas off-canvas--full " id="offCanvas" data-off-canvas data-transition="overlap">
	<div class="off-canvas__heading">
		<h6 class="center-xs">Hola Camila Galvez Leonard</h6>
		<ul class="space-bottom center-xs">
		  <li><a href="{{root}}datos-cliente/datos-cliente.html"><strong>Mi Perfil</strong></a></li>
		</ul>
	</div>

  <ul class="off-canvas__menu">
    <li class="off-canvas__menu-item">
    	<a href="#">Cartera</a>
    	<i class="material-icons">chevron_right</i>
    </li>
    <li class="off-canvas__menu-item">
    	<a href="#">Reportes</a>
    	<i class="material-icons">chevron_right</i>
    </li>
    <li class="off-canvas__menu-item">
      <a href="{{root}}perfil-asesor.html">Perfil asesor</a>
      <i class="material-icons">chevron_right</i>
    </li>
    <li class="off-canvas__menu-item">
      <a href="{{root}}herramientas.html">Herramientas</a>
      <i class="material-icons">chevron_right</i>
    </li>
    <li class="off-canvas__menu-item">
      <a href="{{root}}cumpleanos.html">Cumpleaños</a>
      <i class="material-icons">chevron_right</i>
    </li>
    <li class="off-canvas__menu-item">
    	<a href="#">Soporte Asesor</a>
    	<i class="material-icons">chevron_right</i>
    </li>
  </ul>
</div>