
	<nav class="nav-main bg-primary-accent hide-xs show-sm">
		<div class="container nav-main-container">
			<div class="row row-md-6 around-xs nav-main-row no-gutter" data-dropdown-menu>
				<div class="col-md-2 center-xs nav-main-col">
					<a href="{{root}}cartera.html" class="F f-link-white"><strong>Cartera</strong></a>
				</div>

				<div class="col-md-2 center-xs nav-main-col">
					<a href="{{root}}campanas/campanas.html" class="F f-link-white"><strong>Campañas</strong></a>
				</div>

        <div class="col-md-2 center-xs nav-main-col">
          <a href="{{root}}herramientas.html" class="F f-link-white"><strong>Herramientas</strong></a>
        </div>

        <div class="col-md-2 center-xs nav-main-col">
          <a href="{{root}}reportes/reportes.html" class="F f-link-white"><strong>Reportes</strong></a>
        </div>

        <div class="col-md-2 center-xs nav-main-col">
          <a href="{{root}}productos.html" class="F f-link-white"><strong>Productos</strong></a>
        </div>

				<div class="col-md-2 center-xs nav-main-col">
					<a href="{{root}}soporte-asesor/soporte-asesor.html" class="F f-link-white"><strong>Soporte</strong></a>
				</div>
			</div>
		</div>
	</nav>