
	<h4 class="space-bottom">Información de la Póliza</h4>
	<p class="f-big"><strong>Póliza Nº:</strong> </p>
	<div class="row row-xs-12 row-sm-3 row-md-6 space-bottom">
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Estado: </strong>Vigente</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Emitida: </strong>17/05/2009</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Valor Póliza: </strong>UF 2.14 / $ 52.000</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Frecuencia: </strong>Semestral</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Primas Pendientes: </strong>2</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<p><strong>Primas Total: </strong>UF 2.14 / $ 52.000</p>
		</div>
	</div>

	<p class="f-bigger mg-bottom-15 u-divider-bottom"><strong>Detalle Prima Total</strong></p>

	<div class="row row-xs-12 row-sm-2 row-md-4 space-bottom">
		<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
			<p class="no-space"><strong>Prima Básica:</strong></p>
			<p class="mg-lh-0">UF 15,02</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
			<p class="no-space"><strong>Prima en Exceso:</strong></p>
			<p class="mg-lh-0">UF 2,15 / $ 52.000</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
			<p class="no-space"><strong>Aportes:</strong></p>
			<p class="mg-lh-0">UF 2,15 / $ 52.000</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
			<p class="no-space"><strong>Aportes Extraordinarios Recurrentes:</strong></p>
			<p class="mg-lh-0">UF 2,15 / $ 52.000</p>
		</div>
	</div>

	<p class="f-bigger space-bottom"><strong>Prima Básica por Cobertura</strong></p>

	<!-- Tabla Registro de Atención -->
	<div class="container">
	  <div class="striped-table z-depth-1 space-bottom scroll-table">
	    <div class="row row-xs-1 row-md-2 bg-primary-hover f-white pd-10 no-gutter scroll-row">
	      <div class="col-xs-12 col-md-3">
	        <p class="mg-bottom-0 f-small">RUT Cliente</p>
	      </div>

				<!-- Heading -->
	      <div class="col-xs-12 col-md-9">
	        <div class="row row-xs-1 row-md-6">
            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Tipo de Cliente</p>
            </div>

            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Pagado Hasta</p>
            </div>

            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Cobertura</p>
            </div>

            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Cap. Asegurado</p>
            </div>

            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Prima Básica</p>
            </div>

            <div class="col-xs-12 col-md-2 hide-xs show-md">
              <p class="mg-bottom-0 f-small">Sobreprima</p>
            </div>
	        </div>
	      </div>
	      <!-- / Heading -->

	    </div>

			<!-- Row -->
      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row">
        <div class="col-xs-12 col-md-3">
          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Paves" data-open-text="Carmen Gloria Cuevas Paves">Carmen Gloria Cuevas Paves</span>
            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
          </a>
        </div>

				<!-- Toggle Content -->
        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
          <div class="row row-xs-1 row-md-6 mg-top-xs-30">
            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Tipo de Cliente</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">Titular</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Pagado Hasta</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">23/02/2016</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Cobertura</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">Fallecimiento</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Cap. Asegurado</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Prima Básica</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $ 52,000.54</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Sobreprima</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $ 52,000.54</p>
            </div>
          </div>
        </div>
				<!-- / Toggle Content -->

      </div>
      <!-- / Row -->

			<!-- Row -->
      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row">
        <div class="col-xs-12 col-md-3">
          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-2">
            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Paves" data-open-text="Carmen Gloria Cuevas Paves">Carmen Gloria Cuevas Paves</span>
            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
          </a>
        </div>

				<!-- Toggle Content -->
        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-2">
          <div class="row row-xs-1 row-md-6 mg-top-xs-30">
            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Tipo de Cliente</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">Dependiente</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Pagado Hasta</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">23/02/2016</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Cobertura</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">Fallecimiento</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Cap. Asegurado</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Prima Básica</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $ 52,000.54</p>
            </div>

            <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
              <p class="hide-md mg-lh-0">
              	<strong>Sobreprima</strong>
             	</p>
              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $ 52,000.54</p>
            </div>
          </div>
        </div>
				<!-- / Toggle Content -->

      </div>
      <!-- / Row -->
	  </div>
	</div>