
  <li class="accordion-item accordion-item--products" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Beneficiarios</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
    	<!-- Acordion row -->
			<div class="row row-xs-1 row-sm-2">
				<div class="col-xs-12 col-sm-6">
					<p class="f-bigger u-divider-bottom space-bottom">Carmen Gloria Cuevas Pavez</p>
					<div class="space-bottom">
						<p class="no-space"><strong>Rut:</strong></p>
						<p>14.554.334-5</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p>20%</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p>Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Email:</strong></p>
						<p>carmen.cuevas@gmail.com</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p>+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-bigger u-divider-bottom space-bottom">Carmen Gloria Cuevas Pavez</p>
					<div class="space-bottom">
						<p class="no-space"><strong>Rut:</strong></p>
						<p>14.554.334-5</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p>20%</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p>Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Email:</strong></p>
						<p>carmen.cuevas@gmail.com</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p>+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-bigger u-divider-bottom space-bottom">Carmen Gloria Cuevas Pavez</p>
					<div class="space-bottom">
						<p class="no-space"><strong>Rut:</strong></p>
						<p>14.554.334-5</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p>20%</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p>Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Email:</strong></p>
						<p>carmen.cuevas@gmail.com</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p>+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-bigger u-divider-bottom space-bottom">Carmen Gloria Cuevas Pavez</p>
					<div class="space-bottom">
						<p class="no-space"><strong>Rut:</strong></p>
						<p>14.554.334-5</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p>20%</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p>Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Email:</strong></p>
						<p>carmen.cuevas@gmail.com</p>
					</div>
					<div class="space-bottom">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p>+ 56 954 554 555</p>
					</div>
				</div>
			</div>
			<!-- / Acordion row -->

    </div>
  </li>