
  <li class="accordion-item accordion-item--products" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title arrow-ico"><h6 class="f-dark-gray-2">Beneficiarios</h6></a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content pd-10" data-tab-content>
    	<!-- Acordion row -->
			<div class="row row-xs-1 row-sm-2">
				<div class="col-xs-12 col-sm-6">
					<p class="f-big u-divider-bottom mg-bottom-15"><strong>Carmen Gloria Cuevas Pavez</strong></p>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Rut:</strong></p>
						<p class="mg-lh-0">14.554.334-5</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p class="mg-lh-0">20%</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p class="mg-lh-0">Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Email:</strong></p>
						<p class="mg-lh-0">carmen.cuevas@gmail.com</p>
					</div>
					<div class="mg-bottom-xs-30 mg-bottom-md-30">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p class="mg-lh-0">+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-big u-divider-bottom mg-bottom-15"><strong>Carmen Gloria Cuevas Pavez</strong></p>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Rut:</strong></p>
						<p class="mg-lh-0">14.554.334-5</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p class="mg-lh-0">20%</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p class="mg-lh-0">Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Email:</strong></p>
						<p class="mg-lh-0">carmen.cuevas@gmail.com</p>
					</div>
					<div class="mg-bottom-xs-30 mg-bottom-md-30">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p class="mg-lh-0">+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-big u-divider-bottom mg-bottom-15"><strong>Carmen Gloria Cuevas Pavez</strong></p>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Rut:</strong></p>
						<p class="mg-lh-0">14.554.334-5</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p class="mg-lh-0">20%</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p class="mg-lh-0">Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Email:</strong></p>
						<p class="mg-lh-0">carmen.cuevas@gmail.com</p>
					</div>
					<div class="mg-bottom-xs-30 mg-bottom-md-30">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p class="mg-lh-0">+ 56 954 554 555</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="f-big u-divider-bottom mg-bottom-15"><strong>Carmen Gloria Cuevas Pavez</strong></p>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Rut:</strong></p>
						<p class="mg-lh-0">14.554.334-5</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Asignación:</strong></p>
						<p class="mg-lh-0">20%</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Dirección:</strong></p>
						<p class="mg-lh-0">Carlos Silva Vildósola 10564, La Reina, Santiago, Chile</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Email:</strong></p>
						<p class="mg-lh-0">carmen.cuevas@gmail.com</p>
					</div>
					<div class="mg-bottom-xs-15 mg-bottom-md-30">
						<p class="no-space"><strong>Teléfono:</strong></p>
						<p class="mg-lh-0">+ 56 954 554 555</p>
					</div>
				</div>
			</div>
			<!-- / Acordion row -->

    </div>
  </li>