
  <li class="accordion-item accordion-item--products" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title arrow-ico"><h6 class="f-dark-gray-2">Siniestros</h6></a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content pd-10" data-tab-content>

			<!-- Acordion row -->
			<!-- Tabla Registro de Atención -->
		  <div class="striped-table z-depth-1 space-bottom scroll-table u-divider-top">
		    <div class="row row-xs-1 row-md-2 bg-primary-hover f-white pd-10 no-gutter scroll-row--policies">
		      <div class="col-xs-12 col-md-3">
		        <p class="mg-bottom-0 f-small">Nombre Cliente</p>
		      </div>

					<!-- Heading -->
		      <div class="col-xs-12 col-md-9">
		        <div class="row row-xs-1 row-md-4">
	            <div class="col-xs-12 col-md-3 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Fecha de Notificación</p>
	            </div>
	            <div class="col-xs-12 col-md-3 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Identificador</p>
	            </div>
	            <div class="col-xs-12 col-md-3 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Estado</p>
	            </div>
	            <div class="col-xs-12 col-md-3 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Número de Liquidación</p>
	            </div>
		        </div>
		      </div>
		      <!-- / Heading -->

		    </div>

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-siniestros">
	            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Pavez" data-open-text="Carmen Gloria Cuevas Pavez">Carmen Gloria Cuevas Pavez</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-siniestros">
	          <div class="row row-xs-1 row-md-4 mg-top-xs-30">
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Notificación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">07/05/2011</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Identificador</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">5454545454</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Estado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Vigente</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Número de Liquidación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small"><a href="" class="f-link">5454545454 (PDF)</a></p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-siniestros-2">
	            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Pavez" data-open-text="Carmen Gloria Cuevas Pavez">Carmen Gloria Cuevas Pavez</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-siniestros-2">
	          <div class="row row-xs-1 row-md-4 mg-top-xs-30">
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Notificación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">07/05/2011</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Identificador</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">5454545454</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Estado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Vigente</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Número de Liquidación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small"><a href="" class="f-link">5454545454 (PDF)</a></p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-siniestros-3">
	            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Pavez" data-open-text="Carmen Gloria Cuevas Pavez">Carmen Gloria Cuevas Pavez</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-siniestros-3">
	          <div class="row row-xs-1 row-md-4 mg-top-xs-30">
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Notificación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">07/05/2011</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Identificador</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">5454545454</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Estado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Vigente</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Número de Liquidación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small"><a href="" class="f-link">5454545454 (PDF)</a></p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-siniestros-4">
	            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Pavez" data-open-text="Carmen Gloria Cuevas Pavez">Carmen Gloria Cuevas Pavez</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-siniestros-4">
	          <div class="row row-xs-1 row-md-4 mg-top-xs-30">
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Notificación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">07/05/2011</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Identificador</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">5454545454</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Estado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Vigente</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Número de Liquidación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small"><a href="" class="f-link">5454545454 (PDF)</a></p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-siniestros-5">
	            <span class="openContentText is-open f-small" data-rest-text="Carmen Gloria Cuevas Pavez" data-open-text="Carmen Gloria Cuevas Pavez">Carmen Gloria Cuevas Pavez</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-siniestros-5">
	          <div class="row row-xs-1 row-md-4 mg-top-xs-30">
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Notificación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">07/05/2011</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Identificador</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">5454545454</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Estado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Vigente</p>
	            </div>
	            <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Número de Liquidación</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small"><a href="" class="f-link">5454545454 (PDF)</a></p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->
		  </div> <!-- Tabla Registro de Atención -->
			<!-- / Acordion row -->


			<div class="pagination__table">
			  <div class="pagination">
			    {{> pagination }}
			  </div>
			</div>
    </div>
  </li>