
  <li class="accordion-item accordion-item--products" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title arrow-ico"><h6 class="f-dark-gray-2">Rescates</h6></a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content pd-10" data-tab-content>
	  	<!-- Acordion row -->
			<div class="row row-xs-1 row-sm-2 row-md-4 space-bottom u-divider-top">
				<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
					<p class="no-space"><strong>Saldo en Cuenta de Ahorro:</strong></p>
					<p class="mg-lh-0">UF 2,14 / $ 75.056</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 mg-bottom-xs-15">
					<p class="no-space"><strong>Monto Máximo Rescate Parcial:</strong></p>
					<p class="mg-lh-0">UF 2,14 / $ 75.056</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Cargos por Rescate:</strong></p>
					<p class="mg-lh-0">UF 2,14 / $ 75.056</p>
				</div>
			</div>
			<!-- / Acordion row -->
      <p class="f-big u-divider-bottom pd-bottom-10 mg-bottom-15"><strong>Histórico de Rescates</strong></p>

			<!-- Acordion row -->
			<!-- Tabla Registro de Atención -->
		  <div class="striped-table z-depth-1 space-bottom scroll-table">
		    <div class="row row-xs-1 row-md-2 bg-primary-hover f-white pd-10 no-gutter scroll-row--policies">
		      <div class="col-xs-12 col-md-3">
		        <p class="mg-bottom-0 f-small">Fecha de Solicitud</p>
		      </div>

					<!-- Heading -->
		      <div class="col-xs-12 col-md-9">
		        <div class="row row-xs-1 row-md-3">
	            <div class="col-xs-12 col-md-4 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Fecha de Pago</p>
	            </div>
	            <div class="col-xs-12 col-md-4 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Canal de Solicitud</p>
	            </div>
	            <div class="col-xs-12 col-md-4 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Monto del Rescate</p>
	            </div>
		        </div>
		      </div>
		      <!-- / Heading -->

		    </div>

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-rescue">
	            <span class="openContentText is-open f-small" data-rest-text="12/08/2016" data-open-text="12/08/2016">12/08/2016</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-rescue">
	          <div class="row row-xs-1 row-md-3 mg-top-xs-30">
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Canal de Solicitud</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Web</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto del Rescate</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.58</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-rescue-2">
	            <span class="openContentText is-open f-small" data-rest-text="12/08/2016" data-open-text="12/08/2016">12/08/2016</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-rescue-2">
	          <div class="row row-xs-1 row-md-3 mg-top-xs-30">
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Canal de Solicitud</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Soporte</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto del Rescate</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.58</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-rescue-3">
	            <span class="openContentText is-open f-small" data-rest-text="12/08/2016" data-open-text="12/08/2016">12/08/2016</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-rescue-3">
	          <div class="row row-xs-1 row-md-3 mg-top-xs-30">
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Canal de Solicitud</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Servicio al Cliente</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto del Rescate</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.58</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->

	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-rescue-4">
	            <span class="openContentText is-open f-small" data-rest-text="12/08/2016" data-open-text="12/08/2016">12/08/2016</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-rescue-4">
	          <div class="row row-xs-1 row-md-3 mg-top-xs-30">
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Canal de Solicitud</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Web</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto del Rescate</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.58</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter scroll-row--policies">
	        <div class="col-xs-12 col-md-3">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-rescue-5">
	            <span class="openContentText is-open f-small" data-rest-text="12/08/2016" data-open-text="12/08/2016">12/08/2016</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="col-xs-12 col-md-9 toggleContent toggleContent--responsive" data-toggle-content="toggle-rescue-5">
	          <div class="row row-xs-1 row-md-3 mg-top-xs-30">
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Canal de Solicitud</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">Web</p>
	            </div>
	            <div class="col-xs-12 col-md-4 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto del Rescate</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.58</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->
		  </div> <!-- Tabla Registro de Atención -->
			<!-- / Acordion row -->


			<div class="pagination__table">
			  <div class="pagination">
			    {{> pagination }}
			  </div>
			</div>
    </div>
  </li>