

  <h4 class="space-bottom">Información de la Póliza</h4>
	<p class="mg-bottom-20"><strong>Póliza Nº:</strong> <a href="" class="f-link">3120367097000</a></p>
  <div class="row row-xs-1 row-md-6 mg-bottom-10">
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Estado:</strong></p>
      <p class="mg-lh-0 f-small">Vigente</p>
    </div>
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Fecha Emisión:</strong></p>
      <p class="mg-lh-0 f-small">17/05/2009</p>
    </div>
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Valor Póliza:</strong></p>
      <p class="mg-lh-0 f-small">UF 2.14 / $ 52.000</p>
    </div>
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Frecuencia Pago:</strong></p>
      <p class="mg-lh-md-0 f-small">Semestral</p>
    </div>
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Primas Pendientes:</strong></p>
      <p class="mg-lh-md-0 f-small">1</p>
    </div>
    <div class="col-xs-12 col-md-2">
      <p class="mg-lh-md-0 f-small"><strong>Prima Total:</strong></p>
      <p class="mg-lh-md-0 f-small">UF 2.14 / $ 52.000</p>
    </div>
  </div>