
  <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Pagos y movimientos</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
    	<!-- Acordion row -->
      <p class="u-divider-bottom f-bigger">Datos de Pago</p>
			<div class="row row-xs-1 row-sm-2 row-md-4">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Modo de Pago:</strong></p>
					<p>PAC</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Frecuencia de Pago:</strong></p>
					<p>Mensual</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Banco:</strong></p>
					<p>Santander</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Número de Cuenta:</strong></p>
					<p>877454329</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Número Tarjeta de Crédito:</strong></p>
					<p>XXXX-XXXX-XXXX-8575</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Tipo de Tarjeta:</strong></p>
					<p>Visa</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Estado de Mandato:</strong></p>
					<p>Vigente</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="no-space"><strong>Motivo Estado Mandato:</strong></p>
					<p>Rechazado</p>
				</div>
			</div>
			<!-- / Acordion row -->

    	<!-- Acordion row -->
      <p class="u-divider-bottom f-bigger">Movimientos de la Cuenta</p>

      <div class="row row-xs-1 row-sm-2 row-md-2">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <p class="input--datepicker-label">Fecha Desde</p>
          <span class="input input--ichiro input--datepicker DatePickerStart mg-bottom-15">
            <input class="input__field input__field--ichiro flatpickr flatpickr-input" type="text" data-id="rangePlugin" placeholder="Fecha Desde" value="20/11/2017" readonly>
            <i class="material-icons">date_range</i>
          </span>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-2">
          <p class="input--datepicker-label">Fecha Hasta</p>
          <span class="input input--ichiro input--datepicker DatePickerEnd mg-bottom-15 ">
            <input class="input__field input__field--ichiro flatpickr flatpickr-input" id="secondRangeInput" type="text" placeholder="Fecha Hasta" value="20/11/2017" readonly>
            <i class="material-icons">date_range</i>
          </span>
        </div>
      </div>

			<!-- Tabla Registro de Atención -->
		  <div class="z-depth-1 space-bottom scroll-table">
		    <div class="row bg-primary-hover f-white pd-10 no-gutter scroll-row">
		      <div class="table-100">
		        <p class="mg-bottom-0 f-small">Movimiento</p>
		      </div>

					<!-- Heading -->
		      <div class="table-1080">
		        <div class="row">
	            <div class="table-100 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Fecha</p>
	            </div>
	            <div class="table-100 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Monto</p>
	            </div>
		        </div>
		      </div>
		      <!-- / Heading -->

		    </div>

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Pago de Prima" data-open-text="Pago de Prima">Pago de Prima</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">0,43</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Nombre de otro Movimiento" data-open-text="Nombre de otro Movimiento">Nombre de otro Movimiento</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">22,45</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->
		  </div> <!-- Tabla Registro de Atención -->
			<!-- / Acordion row -->

			<!-- Acordion row -->
      <p class="u-divider-bottom f-bigger">Histórico de Pagos</p>
			<!-- Tabla Registro de Atención -->
		  <div class="z-depth-1 space-bottom scroll-table">
		    <div class="row bg-primary-hover f-white pd-10 no-gutter scroll-row">
		      <div class="table-100">
		        <p class="mg-bottom-0 f-small">Periodo de Cobertura</p>
		      </div>

					<!-- Heading -->
		      <div class="table-1080">
		        <div class="row">
	            <div class="table-100 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Fecha de Pago</p>
	            </div>
	            <div class="table-100 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Forma de Pago</p>
	            </div>
	            <div class="table-100 hide-xs show-md">
	              <p class="mg-bottom-0 f-small">Monto Pagado</p>
	            </div>
		        </div>
		      </div>
		      <!-- / Heading -->

		    </div>

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Septiembre 2017" data-open-text="Septiembre 2017">Septiembre 2017</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Forma de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto Pagado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.54</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Septiembre 2017" data-open-text="Septiembre 2017">Septiembre 2017</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Forma de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto Pagado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.54</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Septiembre 2017" data-open-text="Septiembre 2017">Septiembre 2017</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Forma de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto Pagado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.54</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Septiembre 2017" data-open-text="Septiembre 2017">Septiembre 2017</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Forma de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto Pagado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.54</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->

				<!-- Row -->
	      <div class="row pd-10 table-row no-gutter scroll-row">
	        <div class="table-100">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-policies-info-1">
	            <span class="openContentText is-open f-small" data-rest-text="Septiembre 2017" data-open-text="Septiembre 2017">Septiembre 2017</span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					<!-- Toggle Content -->
	        <div class="table-1080 toggleContent toggleContent--responsive" data-toggle-content="toggle-policies-info-1">
	          <div class="row mg-top-xs-30">
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Fecha de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">18/11/2010</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Forma de Pago</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 5.000</p>
	            </div>
	            <div class="table-100 mg-bottom-xs-15">
	              <p class="hide-md mg-lh-0">
	              	<strong>Monto Pagado</strong>
	             	</p>
	              <p class="mg-bottom-0 word-wrap f-small">UF 2,14 / $52,000.54</p>
	            </div>
	          </div>
	        </div>
					<!-- / Toggle Content -->

	      </div>
	      <!-- / Row -->
		  </div> <!-- Tabla Registro de Atención -->
			<!-- / Acordion row -->

			<div class="pagination__table">
			  <div class="pagination">
			    {{> pagination }}
			  </div>
			</div>
    </div>
  </li>