
  <li class="accordion-item accordion-item--products" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title arrow-ico"><h6 class="f-dark-gray-2">Cartolas y Certificados</h6></a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content pd-10" data-tab-content>
    	<!-- Acordion row -->
		<div class="row row-xs-1 row-md-3 no-gutter">
			<div class="col-xs-12 col-md-4 space-bottom">
				<p class="mg-bottom-15 f-small"><strong>Cartola a la Fecha:</strong></p>
				<div class="row row-xs-1 row-sm-2 row-lg-2 no-gutter">
					<div class="col-xs-12 col-sm-6 col-lg-7 mg-bottom-xs-15">
						<section class="u-select-ico-arrow bg-white" data-parsley-trigger="change">
						  <select class="f-small-i cs-select cs-skin-border GeneralSelect" data-parsley-errors-messages-disabled="" required="">
						    <option value="cat1">cat1</option>
						    <option value="cat2">cat2</option>
						    <option value="" selected="">Selecciona un Período</option>
						  </select>
						</section>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-5 pd-left-sm-10">
						<a href="" class="button button--small button--full-xs">Descargar</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-4 space-bottom">
				<p class="mg-bottom-15 f-small"><strong>Certificado Tributario:</strong></p>
				<div class="row row-xs-1 row-sm-2 row-lg-2 no-gutter">
					<div class="col-xs-12 col-sm-6 col-lg-7 mg-bottom-xs-15">
						<section class="u-select-ico-arrow bg-white" data-parsley-trigger="change">
						  <select class="f-small-i cs-select cs-skin-border GeneralSelect" data-parsley-errors-messages-disabled="" required="">
						    <option value="cat1">cat1</option>
						    <option value="cat2">cat2</option>
						    <option value="" selected="">Selecciona un Período</option>
						  </select>
						</section>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-5 pd-left-sm-10">
						<a href="" class="button button--small button--full-xs">Descargar</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-4 space-bottom">
				<p class="mg-bottom-15 f-small"><strong>Certificado Nº 9:</strong></p>
				<div class="row row-xs-1 row-sm-2 row-lg-2 no-gutter">
					<div class="col-xs-12 col-sm-6 col-lg-7 mg-bottom-xs-15">
						<section class="u-select-ico-arrow bg-white" data-parsley-trigger="change">
						  <select class="f-small-i cs-select cs-skin-border GeneralSelect" data-parsley-errors-messages-disabled="" required="">
						    <option value="cat1">cat1</option>
						    <option value="cat2">cat2</option>
						    <option value="" selected="">Selecciona un Período</option>
						  </select>
						</section>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-5 pd-left-sm-10">
						<a href="" class="button button--small button--full-xs">Descargar</a>
					</div>
				</div>
			</div>

		</div>
			<!-- / Acordion row -->
    </div>
  </li>