
.accordion {
	background-color: transparent;
	table tbody td,
	table tbody th {
		padding: 4px 0.625rem;
	}
}

.accordion-content {
	border: 0;
	padding: 15px 0;
  color: $dark-gray-2;
  &.pd-10 {
    padding: 10px;
  }
	.tabs-subtitle {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.accordion-item,
.accordion-item-products {
  background-color: white;
  border-radius: 3px;
  border: 0;
  margin-bottom: 15px;
  &:hover {
    background-color: white;
    &:focus {
      background-color: red;
    }
  }

  &.is-active {
    .accordion-title {
      background-color: white;
      border-bottom: 2px solid $primary;
      color: $black;
      &:before {
        content: "\f077";
      }
    }
  }
}

.accordion-item--products {
  border: 1px solid $dark-gray-2;
  border-radius: 0;
  &.is-active {
    .accordion-title {
      border-bottom: 0;
      font-family: "Georgia", sans-serif;
      font-weight: bold;
      color: $dark-gray-2;
      font-size: 18px; 
      padding: 10px;
    }
  }
}

.accordion-title {
  border: 0;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  color: $dark-gray-2;
	h5 {
		display: inline-block;
	}
	&:before {
		color: $dark-gray-2;
		content: "\f078";
		font: normal normal normal 10px/1 FontAwesome;
	}
	&:hover {
		background-color: white;
	}
}

.accordion-title:hover, 
.accordion-title:focus {
  background-color: white;
  color: $dark-gray-2;
}


