
	.block-revealer__content {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and ( min-width: 62em ) {
		.dual {
			position: relative;
		}

		.dual__inner {
			height: 100%;
			opacity: 0;
			width: 100%;
		}

		.block-revealer {
			opacity: 1;
		}

		.block-revealer__element {
			background: #000;
			height: 100%;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}

	}