
.banner-tab--client,
.banner-tab--policy {
  font-size: 14px;
  font-weight: bold;
  background-color: $primary;
  color: white;
  &.is-active {
    background-color: white;
    color: $primary;
  }
}

.banner-col {
  position: relative;
}

.banner-content {

  .card-banner-xs{
    position: initial;
  }
  .banner-title {
    color: white;
    padding-bottom: 0;
    text-shadow: 1px 1px black;
  }
  .banner-desc {
    padding-bottom: 50px;
  }
}

.banner-tab {
  border-radius: 3px;
  border: 2px solid $primary;
  .banner-tab--client,
  .banner-tab--policy {
    position: relative;
    &::before, &::after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: 0;
      content: '';
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 0;
    }
    &::before {
      border-top: 10px solid transparent;
      bottom: -8px;
      z-index: 2;
    }
    &::after {
      border-top: 10px solid transparent;
      bottom: -11px;
    }
    &.is-active {
      &::before {
        border-top: 10px solid white;
      }
      &::after {
        border-top: 10px solid $primary-accent;
      }
    }
  }
}



/* Carousel, (código sobreescrito de foundation) */

.orbit-bullets {
  bottom: 60px;
  margin: 10px;
  button {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    &:hover {
      background-color: $primary;
    }
    &.is-active {
      background-color: white;
    }
  }
}

.orbit-image {
  min-height: 350px;
  object-fit: cover;
  width: 100%;
}

.orbit-title {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}
/* Carousel */



// Breakpoint small (sm)
@media screen and ( min-width: 48em ) {


}



// Breakpoint medium (md)

@media screen and ( min-width: 62em ) {

  .banner-content {
    bottom: 100px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    .banner-title {
      padding-bottom: 50px;
    }
  }

  .orbit-image {
    height: 600px;
  }

  .orbit-title {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
  }

}