
@import './../global/colors.scss';

.card {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0;
  border-left: 10px solid;
}

.card-banner {    
  height: 100%;
  padding: 25px;
}

.card--green {
  border-color: $accident;
  .card__icon {
    color: $accident;
  }
}

.card-info-general {
  height: 100%;
  padding: 40px 30px 30px;
}

.indicators_row { 
  border-bottom: 1px solid $gray;
  padding-top: 10px;
  position: relative;
  .bullet_col {
    padding-right: 10px;
    &.success, &.error, &.information {
      &::after {
        border-radius: 50%; 
        bottom: 12px;
        content: '';
        height: 8px;
        position: absolute;
        right: -10px;
        width: 8px;
      }
    }

    &.success {
      &::after {
        background-color: $success;                
      }           
    }

    &.error {
      &::after {
        background-color: $error;                
      }           
    }

    &.information {
      &::after {
        background-color: $information;                
      }           
    }         
  }        
}


