
@import './../global/colors.scss';

.card-banner {    
  padding: 25px;
  height: 100%
}

.card-info-general {
  width: 100%;
  height: 100%;
  padding: 40px 30px 30px;
}

.indicators_row { 
  position: relative;
  border-bottom: 1px solid $gray;
  padding-top: 10px;
  .bullet_col {
    padding-right: 10px;
    &.success, &.error, &.information {
      &::after {
        border-radius: 50%; 
        bottom: 12px;
        content: '';
        height: 8px;
        position: absolute;
        right: -10px;
        width: 8px;
      }
    }

    &.success {
      &::after {
        background-color: $success;                
      }           
    }

    &.error {
      &::after {
        background-color: $error;                
      }           
    }

    &.information {
      &::after {
        background-color: $information;                
      }           
    }         
  }        
}