
	.chartCanvas {
		position: relative;
		z-index: 1000;
		margin: 0 auto;
		max-height: 270px;
		max-width: 270px;
	}

	.chartCanvasMain {
		position: relative;
	}

	.chartCanvasContent {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
		h3 {
			font-size: 48px;
		}
	}