
.minus-ico {
  display: none;
}

.openContent {
  .indicators-span {
    padding-left: 8px;
  }
  &.is-open {
    i {
      transform: rotate(180deg);
      &.plus-ico {
        display: none;
      }
      &.minus-ico {
        display: inline-block;
      }
    }
  }
}

.toggleContent {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .3s cubic-bezier( .4, 0, .2, 1 );
  visibility: hidden;
  &.is-open {
    height: auto;
    opacity: 1;
    padding: 0;
    visibility: visible;
    i {
      &.plus-ico {
        visibility: hidden;
        opacity: 0;
      }
      &.minus-ico {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &.number-dividend {
    padding: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0px;
  }
}



@media only screen and (min-width: 62em) {

  .toggleContent {
    &.is-open {
      margin-top: 0;
    }
  }
}