
.footer {
	background-color: $black-05;
	padding: 0 30px;
}

.footer__col {
	&:nth-of-type(2) {
		margin-bottom: 2rem;
	}
}

.footer__container {
  border-top: 1px solid $medium-gray;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.footer__figure-logo {
  min-width: 200px;
} 

.bullet-item_footer {
  position: relative;
  &:before {
    background-color: $medium-gray;
    border-radius: 50%;
    content: "";
    height: 4px;
    left: -10px;
    position: absolute;
    top: 7px;
    width: 4px;
  }
}

.bulletItemFooterExplorer {
  position: relative;
  &:before {
    background-color: $medium-gray;
    border-radius: 50%;
    content: "";
    height: 4px;
    left: -10px;
    position: absolute;
    top: 12px;
    width: 4px;
  }
}


@media only screen and (min-width: 960px) {
  .footer__container {
    margin-top: 0;
  }
}