
	.footer {
		background-color: $black-05;
		padding: 0 30px;
	}

	.footer_col {
		&:nth-of-type(2) {
			margin-bottom: 2rem;
		}
	}

	.footer_container {
		border-top: 1px solid $medium-gray;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}

	.footer_info {
		margin-top: 15px;
    font-size: 13px;
    text-align: left;
		i {
			margin-right: 6px;
			position: relative;
			top: 5px;
		}
    a {
      color: $primary-accent;
    }
	}

	.footer_list-item {
		padding-left: 10px;
		position: relative;
		margin-right: 10px;
    &:last-of-type {
			padding-left: 0;
			margin-right: 0;
			&::before {
				background-color: transparent;
			}
		}
    &.bullet-item_footer {
      margin-right: 6px;
    }
    &:first-of-type.bullet-item_footer {
    	padding-left: 0;
      &::before {
        background-color: transparent;
        margin: 0;
        width: 0;
        padding: 0;
      }
    }
    &:last-of-type.bullet-item_footer {
			padding-left: 10px;
      margin-right: 0;
			&::before {
				background-color: $medium-gray;
			}
		}
		p {
			margin-bottom: 0;
		}
	}

	@media screen and ( min-width: 48em ) {

		.footer_col {
			&:nth-of-type(2) {
				margin-bottom: 0;
			}
		}

		.footer_info {
			margin-top: 15px;
      max-width: 120px;
      text-align: center;
		}

	}

	@media screen and ( min-width: 75em ) {

		.footer {
			padding: 0;
		}
	}
