
@import './../global/colors.scss';

.form-download-ico {
  margin: 5px 0 0 0;
}

.form-email-ico {
  max-width: 12px;
  margin: 4px 0 0 0;
}

.support_form_container_search {
  background-color: white;
}

.support-form-row {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0 0;
}

.form-result-container {
  .form-result-row:nth-last-child(1) {
    margin-bottom: 30px;
  }
}

.form-error{
  font-weight: 400;
}
.request {
  max-width: 600px;
  margin: 0 auto;
}

.request__text-area {
  margin-bottom: 0;
  min-height: 150px;
}

.support-advisor-image {
  width: 100%;
  min-height: 160px;
  object-fit: cover;
}

.support-advisor-row {
  padding: 30px 15px 15px;
}



@media screen and (min-width: 62em) {

  .support-advisor-col {
    padding: 0 20px 0 40px;
  }

  .support-advisor-row {
    height: 100%;
  }

}