
@import './../global/colors.scss';

.form-download-ico {
  margin: 3px 10px 0 0;
}

.form-email-ico {
  max-width: 12px;
  margin-right: 10px;
}

.support_form_container_search {
  background-color: white;
}

.support-form-row {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0 0;
}

.form-result-container {
  .form-result-row:nth-last-child(1) {
    margin-bottom: 30px;
  }
}

.request {
  max-width: 600px;
  margin: 0 auto;
}

.request__text-area {
  margin-bottom: 0;
  min-height: 150px;
}