
.banner_col {
  position: relative;
}

.banner_content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  .banner_title {
    text-shadow: 1px 1px black;
    padding-bottom: 50px;
    color: white;
  }
  .banner_desc {
    padding-bottom: 50px;
  }
}

.banner_img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.metclub_img {
  min-height: 180px;
  object-fit: cover;
  width: 100%;
}

.tool_ico-1 {
  max-width: 50px;
}

.tool_icons {
  max-width: 40px;
}



@media screen and ( min-width: 48em ) {
  
  .banner_img {
    height: 600px;
  }

}



@media screen and ( min-width: 62em ) {
  
  .banner_img {
    height: 500px;
  }

}



@media screen and ( min-width: 75em ) {

  .metclub_img {
    min-height: 156px;
  }

}