
@import './../global/color.scss';

.banner_col {
  position: relative;
}

.banner_content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  .card_banner_xs{
    position: initial;
  }
  .banner_title {
    text-shadow: 1px 1px black;
    padding-bottom: 0;
    color: white;
  }
  .banner_desc {
    padding-bottom: 50px;
  }
}

.banner_img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.metclub_figure {
  height: 100%;
  .metclub_img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.tool_ico-1 {
  max-width: 48px;
  padding-left: 5px;
}

.tool_icons {
  max-width: 40px;
}

.search_ico {
  position: relative;
  padding-left: 40px;
  i {
    color: $primary-accent;
    font-size: 40px;
    position: absolute;
    left: -5px;
    bottom: 0;
  }
}



@media screen and ( min-width: 48em ) {
  
  .banner_img {
    height: 400px;
  }

  .banner_content {
    .banner_title {
      padding-bottom: 50px;
    }
  }

}



@media screen and ( min-width: 62em ) {
  
  .banner_img {
    height: 500px;
  }

  .tool_ico-1 {
    padding-left: 0;
  }

}



@media screen and ( min-width: 75em ) {

  .banner_img {
    height: 500px;
  }

}