
.indicators-img {
  min-height: 450px;
  object-fit: cover;
}

.indicators-row {
  border-bottom: 1px solid $gray;
  padding-top: 10px;
  position: relative;
  .bullet-col {
    padding-right: 10px;
    &.success, &.error, &.information {
      &::after {
        border-radius: 50%;
        top: 18px;
        content: '';
        height: 8px;
        position: absolute;
        right: 0;
        width: 8px;
      }
    }

    &.success {
      &::after {
        background-color: $success;
      }
    }

    &.error {
      &::after {
        background-color: $error;
      }
    }

    &.information {
      &::after {
        background-color: $information;
      }
    }
  }
}

.policy-img {
  min-height: 424px;
  object-fit: cover;
}