
.indicators-figure {
  max-height: 450px;
}

.indicators-img {
  min-height: 450px;
  object-fit: cover;
}


.indicators-row {
  border-bottom: 1px solid $gray;
  padding-top: 10px;
  position: relative;
  .bullet-col {
    padding-right: 10px;
    &.success, &.error, &.information {
      &::after {
        border-radius: 50%;
        top: 18px;
        content: '';
        height: 8px;
        position: absolute;
        right: 0;
        width: 8px;
      }
    }

    &.success {
      &::after {
        background-color: $success;
      }
    }

    &.error {
      &::after {
        background-color: $error;
      }
    }

    &.information {
      &::after {
        background-color: $information;
      }
    }
  }
}

.bullet-col {
  position: relative;
  &.success, &.error, &.information, &.disabled {
    &::after {
      border-radius: 50%;
      top: 20px;
      content: '';
      height: 8px;
      position: absolute;
      left: 5px;
      width: 8px;
    }
  }
  &.success {
    &::after {
      background-color: $success;
    }
  }

  &.error {
    &::after {
      background-color: $error;
    }
  }

  &.information {
    &::after {
      background-color: $information;
    }
  }

  &.disabled {
    &::after {
      background-color: $dark-gray-3;
    }
  }
}

.policy-figure {
  max-height: 420px;
}

.policy-img {
  min-height: 420px;
  object-fit: cover;
}

.policy-summary-col {
  min-height: 420px;
}



@media screen and ( min-width: 62em ) {

  .bullet-col {
    &.success, &.error, &.information, &.disabled {
      &::after {
        top: 12px;
      }
    }
  }

}