
@media only screen and ( min-width: 960px ) {
	.openContent {
    &.openContent--table {
			color: #333;
			cursor: default;
			&:hover,
			&:focus {
				border-bottom: 0;
				color: #333;
			}
    }
	}
}