
.reveal {
  min-width: 100%;
  min-height: 200px;
  padding: 30px;    
}

.reveal__content {
  max-width: 470px;
  margin: 0 auto;
}



@media only screen and ( min-width: 868px ) {
  .reveal {
    min-width: 700px;   
  }

}