
	@import './../global/color.scss';

	.tab-accordion,
	.tab-accordion-pink .resp-accordion,
	.tab-accordion-pink .tab-accordion,
	.tab-accordion-green .resp-accordion,
	.tab-accordion-green .tab-accordion {
		flex-grow: 0;
		position: relative;
		transition: color 0.3s;
		&:before {
			background-color: $primary;
			bottom: 0;
			content: '';
			height: 4px;
			left: -20px;
			position: absolute;
			transform: scale3d(0, 1, 1);
			transition: transform 0.1s;
			width: calc(100% + 40px);
		}

		h5 {
			font-size: 16px;
			font-weight: 600;
		}

		&.resp-tab-active {
			.tab_arrow {
				i {
					transform: rotate(-180deg);
				}
			}
			&:before {
				transform: scale3d(1, 1, 1);
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 0.3s;
			}
		}
	}

	.tabs {
		border-bottom: 1px solid $primary;
		border: 0;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 10px;
		position: relative;
		white-space: nowrap;
		width: 100%;
		&:before {
			display: none;
		}
	}

	.tabs_col_white {
		min-height: 70px;
	}

	.tabs-content {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 0;
	}
	.tabs_content_subtitle{
		padding: 0;
		margin: 0;
		line-height: 1.2;
	}

	.tabs-panel {
		padding: 2rem 19px;
	}

	.tabs_row {
		padding: 0 1.6rem;
	}

	.tabs_irow-empty {
		min-height: 52px;
	}

	.tabs_irow-empty-multi-line {
		min-height: 78px;
	}

	.tabs-subtitle {
		border-bottom: 2px solid $primary;
		margin-bottom: 1rem;
		padding: 0 0 1rem 0;
	}

	.tabs-subtitle-profile {
		border-bottom: 1px solid $medium-gray;
		margin-bottom: 1rem;
		padding: 0 0 10px 0;
	}

	.tab-accordion,
	.tab-accordion-pink .resp-accordion,
	.tab-accordion-pink .tab-accordion,
	.tab-accordion-green .resp-accordion,
	.tab-accordion-green .tab-accordion {
		flex-grow: 0;
		position: relative;
		transition: color 0.3s;
		&:before {
			background-color: $primary;
			bottom: 0;
			content: '';
			height: 4px;
			left: 15px;
			position: absolute;
			transform: scale3d(0, 1, 1);
			transition: transform 0.1s;
			width: calc(80% + 10px);
		}

		h5 {
			font-size: 16px;
			font-weight: 600;
		}

		&.resp-tab-active {
			.tab_arrow {
				i {
					transform: rotate(-180deg);
				}
			}
			&:before {
				transform: scale3d(1, 1, 1);
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 0.3s;
			}
		}
	}

	.tab-accordion-pink {
		&:before {
			background-color: $pink;
		}
	}

	.tab-accordion-green {
		&:before {
			background-color: $accident;
		}
	}


	.tabs_wrap-green {
		.tabs-subtitle {
			border-color: $accident;
		}
		.tabs-title {
			&.is-active {
				a {
					color: $accident;
				}
			}
			a:before {
				background-color: $accident;
			}
		}
	}

	.client-profile_row {
		margin-top: 1rem;
	}

	.tab_arrow {
		position: relative;
		i {
			position: absolute;
			top: 0;
			right: 10px;
		}
	}

	.resp-tab-active {
		.tab_arrow {
			i {
				transform: rotate(-180deg);
			}
		}
	}

	.tabs_wrap & > div {
		min-height: 433px;
	}

	.tabs_wrapper {
		background-color: $white;
		// border-top: 1px solid $medium-gray;
		// border-left: 1px solid $medium-gray;
		// border-right: 1px solid $medium-gray;
	}

	.u-divider-bottom-strong {
		border-bottom: 3px solid $medium-gray;
	}

	.u-divider-bottom {
		border-bottom: 1px solid $medium-gray;
	}


	@media screen and ( min-width: 62em ) {

		.tabs_wrap_container {
			border: 1px solid #bbb;
		}
	}
