@import './../global/colors.scss';

.tab-size {
  &.tab-size--left {
    border: 2px solid $primary;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 0;
  }
  &.tab-size--right {
    border: 2px solid $primary;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 0;
  }
  flex-basis: calc(8.333% * 5);
  max-width: calc(8.333% * 5);
  transition: all .4s;
  &.is-active {
    flex-basis: calc(8.333% * 7);
    max-width: calc(8.333% * 7);
  }
}

.tabs {
  border-bottom: 1px solid $primary;
  border: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  &.pd-0 {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
  }
  &:before {
    display: none;
  }
}


/* Clase foundation */
.tabs-content {
  background: none;
  border: 0;
}

.tabs-panel {
  padding: 0;
}
/* /Clase foundation */


.birthday_tabs_container {
  margin: 0 auto;
  margin-bottom: 30px;
  height: 75px;
}

.tabs-title {
  background-color: $primary;
  a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
    &:hover {
      background-color: $primary;
      color: white;
    }
    &.tab-carousel {
      font-size: 14px;
      text-transform: none;
      padding: 13px;
    }
  }
  &.is-active {
    margin-top: 0;
    height: 100%;
    background-color: white;
    h6 {
      font-weight: bold;
    }
    a {
      background-color: transparent;
      color: $primary;
      font-weight: bold;
      border: none;
      &.is-focus {
        background-color: red;
      }
    }
  }
  a:before {
    background-color: $accident;
  }
}

.tab-arrow {
  position: relative;
  i {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.resp-tab-active {
  .tab-arrow {
    i {
      transform: rotate(-180deg);
    }
  }
}

.tabs_wrap & > div {
  min-height: 433px;
}

.tabs_wrapper {
  background-color: $white;
}

.tab-delayed-date-picker {
  opacity: 0;
}



@media only screen and ( min-width: 960px ) {

  .tabs_wrap_container {
    border: 1px solid #bbb;
  }

}