
  <footer class="footer">
    <div class="container footer__container">
      <div class="row row-xs-1 row-md-3">
        <div class="col-xs-12 col-md-2">
          <div class="row row-xs-2">
            <div class="col-xs-7 col-md-2">
              <figure class="mg-bottom-10">
                <img src="{{root}}assets/images/login/logo.png" width="120px" alt="Logitpo Metlife">
              </figure>
            </div>

            <div class="col-xs-5 col-md-2 hide-md">
              <ul class="row end-xs middle-xs">
                <li class="f-small mg-right-15">Siguenos</li>

                <li class=" mg-right-15">
                  <a href="https://es-la.facebook.com/MetLifeCl/" target="_blank">
                    <i class="fa fa-facebook f-link-ico" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/metlife" target="_blank">
                    <i class="fa fa-twitter f-link-ico" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 center-xs start-md f-small">
            <a href="tel:+566003903000" class="f-link">600 390 3000</a>
          </div>
        </div>

        <div class="col-xs-12 col-md-8">
          <div class="row center-xs start-md">
            <li class="mg-right-15 line-h-2.5">
              <a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/informacion-corporativa.html" target="_blank" class="f-tiny f-link">Información Corporativa </a>
            </li>

            <li class="mg-right-15">
              <a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/politica-de-privacidad.html" target="_blank" class="f-link f-tiny"> Política de Privacidad</a>
            </li>

            <li class="mg-right-15">
              <a href="http://w3.metlife.cl/servicio-al-cliente/consultas-y-reclamos.html" target="_blank" class="f-link f-tiny"> Circular Nº 2131</a>
            </li>

            <li class="mg-right-15">
              <a href="http://www.ddachile.cl/v5/Inicio.aspx" target="_blank" class="f-link f-tiny"> Defensor del Asegurado </a>
            </li>

            <li class="mg-bottom-xs-30">
              <a href="https://w3.metlife.cl/assets/documentassets/codigo_atorregulacion_y_compendio_buenas_practicas.pdf" target="_blank" class="f-link f-tiny">Consejo de Autorregulación</a>
            </li>
          </div>

          <div class="center-xs start-sm">
            <p class="f-legal center-xs start-md">© 2017 Metlife Chile, Agustinas 640, Santiago, Chile. Desde teléfonos celulares o desde el extranjero al
              <span class="show-xs hide-sm"></span>
              <a href="tel:+56228264790" class="f-link">+56 2 2826 47 90</a>
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-md-2 hide-xs show-md">
          <ul class="row end-xs middle-xs">
            <li class="f-small mg-right-15">Siguenos</li>

            <li class=" mg-right-15">
              <a href="https://es-la.facebook.com/MetLifeCl/" target="_blank">
                <i class="fa fa-facebook f-link-ico" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/metlife" target="_blank">
                <i class="fa fa-twitter f-link-ico" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>