
	<footer class="footer">
		<div class="container footer-container">
			<div class="row row-xs-1 row-sm-3 no-gutter-xs top-xs start-sm footer-row">
				<div class="col-xs-12 col-sm-2 footer-col">
					<div class="row row-xs-2 row-sm-1 no-gutter-xs footer-irow">
            <div class="col-xs-6 col-sm-12 footer-col-list">
							<figure class="footer-image">
								<img src="{{root}}assets/images/login/logo.png" width="120px" alt="Logitpo Metlife">
							</figure>
						</div>

            <div class="col-xs-6 col-sm-12 hide-sm footer-col-list">
							<ul class="footer_list u-row no-gutter-xs end-xs">
								<li class="footer-list-item">
									<a href="https://es-la.facebook.com/MetLifeCl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li class="footer_list-item">
									<a href="https://twitter.com/metlife" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>

            <div class="col-xs-12 center-xs start-sm f-small footer-col-list">
							<a href="tel:+566003903000">600 390 3000</a>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-8 footer-col">
					<ul class="row middle-xs center-xs start-sm u-space footer-list">
						<li class="footer-list-item bullet-item-footer">
							<a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/informacion-corporativa.html" target="_blank" class="f-link f-tiny">Información Corporativa </a>
						</li>

						<li class="footer-list-item bullet-item-footer">
							<a href="http://w3.metlife.cl/personas/conocenos/metlife-en-chile/politica-de-privacidad.html" target="_blank" class="f-link f-tiny"> Política de Privacidad</a>
						</li>

            <li class="footer-list-item bullet-item-footer">
							<a href="http://w3.metlife.cl/servicio-al-cliente/consultas-y-reclamos.html" target="_blank" class="f-link f-tiny"> Circular Nº 2131</a>
						</li>

            <li class="footer-list-item bullet-item-footer">
							<a href="http://www.ddachile.cl/v5/Inicio.aspx" target="_blank" class="f-link f-tiny"> Defensor del Asegurado </a>
						</li>

            <li class="footer-list-item bullet-item-footer">
							<a href="https://w3.metlife.cl/assets/documentassets/codigo_atorregulacion_y_compendio_buenas_practicas.pdf" target="_blank" class="f-link f-tiny">Consejo de Autorregulación</a>
						</li>
					</ul>

							<p class="f-legal center-xs start-sm">© 2017 Metlife Chile, Agustinas 640, Santiago, Chile. Desde teléfonos celulares o desde el extranjero al 
                <span class="show-xs hide-sm"><br></span>
                <a href="tel:+56228264790">+56 2 2826 47 90</a>
              </p>
				</div>

				<div class="footer-col col-xs-12 col-sm-2 hide-xs show-sm">
					<ul class="row middle-xs center-xs end-sm footer-list">
						<li class="footer-list-item">
							<p class="f-tiny">Síguenos</p>
						</li>
						<li class="footer-list-item">
							<a href="https://es-la.facebook.com/MetLifeCl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li class="footer-list-item">
							<a href="https://twitter.com/metlifechile" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
