<div class="row row-xs-1 row-md-2 space-bottom pd-0-15">
  <div class="col-xs-12 col-md-6 bg-white pd-15 z-depth-1 mg-bottom-15">
    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal"><strong>Prima Basica</strong></p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal"><strong>Totales</strong></p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Vigente UF (*)</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Emitida UF (*)</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Cobrada</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy bg-white-light">
      <div class="col-xs-6">
        <p class="f-normal"><strong>Prima Cobranza SMART 24</strong></p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal"><strong>UF 90.01%</strong></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 bg-white pd-15 z-depth-1 mg-bottom-15">
    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal"><strong>Prima Basica</strong></p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal"><strong>Totales</strong></p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Vigente UF (*)</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Emitida UF (*)</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy">
      <div class="col-xs-6">
        <p class="f-normal">Prima Cobrada</p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal">UF 86.63</p>
      </div>
    </div>

    <div class="row row-xs-2 u-divider-policy bg-white-light">
      <div class="col-xs-6">
        <p class="f-normal"><strong>Prima Cobranza SMART 24</strong></p>
      </div>

      <div class="col-xs-6 end-xs">
        <p class="f-normal"><strong>UF 90.01%</strong></p>
      </div>
    </div>
  </div>

  <div class="f-tiny">
    <em>(*) Prima Neta Mensual de IVA</em>
  </div>

</div>
