
<div class="row row-xs-1 row-sm-2 middle-xs">
  <div class="col-xs-12 col-sm-3 mg-bottom-15">
    <section class="u-select-ico-arrow bg-white">
      <select class="cs-select cs-skin-border GeneralSelect">
        <option value="">Selecciona un Estado</option>
        <option value="">Esatdo 1</option>
        <option value="">Esatdo 2</option>
      </select>
    </section>
  </div>
</div>


<div class="striped-table z-depth-1 space-bottom">
	<div class="bg-primary-hover f-white pd-xs-10">
	  <div class="row row-xs-1 row-md-2 no-gutter">
	  	{{#each tab-2-table-3-v2-head}}
		    <div class="col-xs-12 {{class-col-wrap}} b-right">
		    	<div class="row row-xs-1 {{class-row}} no-gutter">
		    		{{#each tab-2-table-3-head-title}}
			    		<div class="col-xs-12 {{class-col}} col-3-b-right">
			    			<p class="mg-bottom-0 f-small"><strong>{{title}}</strong></p>
								<div class="row row-xs-1 {{class-irow}} max-width-222">
									{{#each tab-2-table-3-head-subtitle}}
										<div class="col-xs-12 {{class-icol}}">
											<p class="mg-bottom-0 f-tiny">{{subtitle}}</p>
										</div>
									{{/each}}
								</div>
			    		</div>
			    	{{/each}}
			    </div>
			  </div>
			{{/each}}
	  </div>
	</div>

	{{#each tab-2-table-3-v2-body}}
    <div class="row row-xs-1 row-md-2 pd-5 table-row no-gutter">

      <div class="col-xs-12 col-md-6 mg-bottom-xs-15">
        <div class="row row-xs-1 row-md-5 no-gutter">
        	<div class="col-xs-12 col-md-2">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-tab-2-table-3-v2{{@index}}">
	            <span class="openContentText is-open f-small" data-rest-text="{{rut}}" data-open-text="{{rut}}">{{rut}}
	            </span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					{{#each body-col-1}}
	      		<div class="col-xs-12 {{class-col}} hide-xs show-md">
	      			<p class="mg-lh-0 f-small">{{value}}</p>
	      		</div>
	      	{{/each}}
        </div>
      </div>

  		<div class="col-xs-12 col-md-6 toggleContent toggleContent--responsive" data-toggle-content="toggle-tab-2-table-3-v2{{@index}}">
  			<div class="hide-md space-bottom">
	  			{{#each body-col-xs}}
		  			<div class="col-xs-12 col-md-6 hide-md">
		          <p class="mg-lh-0 f-small"><strong class="hide-md">{{subtitle}}: </strong>{{value}}</p>
		        </div>
		      {{/each}}
		    </div>

      	<div class="row row-xs-1 {{class-row}} no-gutter">
					{{#each body-col-2}}
          	<div class="col-xs-12 {{class-col}} center-md">
          		<p class="hide-md"><strong>{{title}}</strong></p>
          		<div class="row row-xs-1 {{class-row}} max-width-222">
	          		{{#each body-col-values}}
	          			<div class="col-xs-12 {{class-col}} center-md">
		            		<p class="mg-lh-0 f-small"><strong class="hide-md">{{subtitle}} </strong>{{value}}</p>
		            	</div>
		            {{/each}}
	            </div>
          	</div>
          {{/each}}

        	<div class="col-xs-12 col-md-2 mg-bottom-xs-15 center-md">
            <p class="mg-bottom-0 f-small">Pagado</p>
        		<a href="" class="f-link openContent f-small" data-open-content="toggle-table-3-v2{{@index}}">
  		        <span class="openContentText is-open f-small" data-rest-text="{{value}}" data-open-text="Menos Info">{{value}}</span>
  		        <i class="fa fa-angle-down" aria-hidden="true"></i>
  		      </a>
        	</div>

        	<div class="col-xs-12 pd-10 toggleContent" data-toggle-content="toggle-table-3-v2{{@index}}">
        	  <div class="row row-xs-1 row-md-2 middle-xs">
        	  	<div class="col-xs-12 col-md-6 mg-bottom-xs-15">
                <p class="line_jump f-small"><strong>Email:</strong></p>
                <p class="line_jump f-small">camilagalvezl@metlife.com</p>
        	  	</div>

      	  		<div class="col-xs-12 col-md-6">
                <p class="line_jump f-small"><strong>Medio de Pago</strong></p>
                <p class="line_jump f-small">Efectivo</p>
      	  		</div>
        	  </div>
        	</div>



      	</div>
  		</div>




  	</div>
  {{/each}}

</div>



<div class="pagination__table">
  <div class="pagination">
    {{> pagination }}
  </div>
</div>