
<div class="striped-table z-depth-1 space-bottom">
	<div class="bg-primary-hover f-white pd-xs-10">

	  <div class="row row-xs-1 row-md-2 center-xs no-gutter">
	    <div class="col-xs-12 col-md-2 hide-xs show-md">
	    </div>

	    <div class="col-xs-12 col-md-10 hide-xs show-md">
	    	<div class="row row-xs-1 row-md-4 no-gutter">
	    		{{#each tab-1-table-2-head-title}}
		    		<div class="col-xs-12 col-md-3 col-title b-left">
		      		<p class="mg-bottom-0 f-small"><strong>{{title}}</strong></p>
		      	</div>
		      {{/each}}
	      </div>
	    </div>
	  </div>

	  <div class="row row-xs-1 row-md-2 no-gutter">
	    <div class="col-xs-12 col-md-2 center-md">
		    <p class="mg-bottom-0 f-small">Persistencia</p>
	    </div>

	    <div class="col-xs-12 col-md-10 hide-xs show-md">

	    	<div class="row row-xs-1 row-md-4 center-md no-gutter">
	    		{{#each tab-1-table-2-col-2}}
		    		<div class="col-xs-12 col-md-3 col-subtitle b-left">
		    			<div class="row row-xs-1 {{class-row}} max-width-222">
		    				{{# each tab-1-table-2-col-2-head-subtitle}}
			    				<div class="col-xs-12 {{class-col}}">
			      				<p class="mg-bottom-0 f-small {{calss-display}}">{{subtitle}}</p>
			      			</div>
			      		{{/each}}
		      		</div>
		      	</div>
		     	{{/each}}
	      </div>

	    </div>
	  </div>
	</div>

	{{#each tab-1-table-2-body}}
    <div class="row row-xs-1 row-md-2 pd-10 table-row no-gutter">

      <div class="col-xs-12 col-md-2 mg-bottom-xs-15">
        <div class="row row-xs-1 row-md-1">
        	<div class="col-xs-12 col-md-12">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-tab-1-table-2-v2{{@index}}">
	            <span class="openContentText is-open f-small" data-rest-text="{{month}}" data-open-text="{{month}}">{{month}}
	            </span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-10 toggleContent toggleContent--responsive" data-toggle-content="toggle-tab-1-table-2-v2{{@index}}">
        <div class="row row-xs-1 row-md-4 center-md max-width-982">
					{{#each body-col-2}}
	          <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
	          	<p class="hide-md"><strong>{{title}}</strong></p>
	          	<div class="row row-xs-2 {{class-row}} max-width-222">
								{{#each body-values}}
			          	<div class="col-xs-12 {{class-col}}">
				            <p class="mg-lh-0 f-small"><strong class="hide-md">{{subtitle}}: </strong>{{value}}</p>
			          	</div>
		          	{{/each}}
		        	</div>
		        </div>
		      {{/each}}

        </div>
      </div>
    </div>
  {{/each}}

</div>

<div class="pagination__table">
  <div class="pagination">
    {{> pagination }}
  </div>
</div>