
<div class="striped-table z-depth-1 space-bottom">
	<div class="bg-primary-hover f-white pd-10">

	  <div class="row row-xs-1 row-md-2 center-xs">
	    <div class="col-xs-12 col-md-6">
	    	<div class="row row-xs-1 row-md-5">
	    		<div class="col-xs-12 col-md-2">
	    			<p>RUT Cliente</p>
	    		</div>

	    		<div class="col-xs-12 col-md-4">
	    			<p>Nombre Cliente</p>
	    		</div>

	    		<div class="col-xs-12 col-md-2">
	    			<p>N° Póliza</p>
	    		</div>

	    		<div class="col-xs-12 col-md-2">
	    			<p>Mes de Emisión</p>
	    		</div>

	    		<div class="col-xs-12 col-md-2">
	    			<p>Pagado Hasta</p>
	    		</div>
	    	</div>
	    </div>

	    <div class="col-xs-12 col-md-6">
	    	<div class="row row-xs-1 row-md-2">
	    		<div class="col-xs-12 col-md-5">
	    			<p>Prima Basica Mensual</p>
	    		</div>

	    		<div class="col-xs-12 col-md-5">
	    			<p>Prima Exceso Mensual</p>
	    		</div>

	    		<div class="col-xs-12 col-md-2">
	    			<p>Estado</p>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>
</div>

<div class="pagination__table">
  <div class="pagination">
    {{> pagination }}
  </div>
</div>