
<div class="striped-table z-depth-1 space-bottom">
	<div class="bg-primary-hover f-white pd-10">
	  <div class="row row-xs-1 row-md-2">
	  	{{#each tab-2-table-3-head}}
		    <div class="col-xs-12 {{class-col-wrap}}">
		    	<div class="row row-xs-1 {{class-row}}">
		    		{{#each tab-2-table-3-head-title}}
			    		<div class="col-xs-12 {{class-col}}">
			    			<p class="mg-bottom-0 f-small"><strong>{{title}}</strong></p>
								<div class="row row-xs-1 {{class-irow}}">
									{{#each tab-2-table-3-head-subtitle}}
										<div class="col-xs-12 {{class-icol}}">
											<p class="mg-bottom-0 f-small">{{subtitle}}</p>
										</div>
									{{/each}}
								</div>
			    		</div>
			    	{{/each}}
			    </div>
			  </div>
			{{/each}}
	  </div>
	</div>

	{{#each tab-2-table-3-body}}
    <div class="row row-xs-1 row-md-2 pd-10 table-row">

      <div class="col-xs-12 col-md-6 mg-bottom-xs-15">
        <div class="row row-xs-1 row-md-5">
        	<div class="col-xs-12 col-md-2">
	          <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-tab-2-table-3{{@index}}">
	            <span class="openContentText is-open f-small" data-rest-text="{{rut}}" data-open-text="{{rut}}">{{rut}}
	            </span>
	            <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
	          </a>
	        </div>

					{{#each body-col-1}}
	      		<div class="col-xs-12 {{class-col}} hide-xs show-md">
	      			<p class="mg-lh-0 f-small">{{value}}</p>
	      		</div>
	      	{{/each}}
        </div>
      </div>

  		<div class="col-xs-12 col-md-6 toggleContent toggleContent--responsive" data-toggle-content="toggle-tab-2-table-3{{@index}}">
  			<div class="hide-md space-bottom">
	  			{{#each body-col-xs}}
		  			<div class="col-xs-12 col-md-6 hide-md">
		          <p class="mg-lh-0 f-small"><strong class="hide-md">{{subtitle}}: </strong>{{value}}</p>
		        </div>
		      {{/each}}
		    </div>

      	<div class="row row-xs-1 {{class-row}}">
					{{#each body-col-2}}
          	<div class="col-xs-12 {{class-col}} AAAA">
          		<p class="hide-md"><strong>{{title}}</strong></p>
          		<div class="row row-xs-1 {{class-row}}">
	          		{{#each body-col-values}}
	          			<div class="col-xs-12 {{class-col}} BBBBB">
		            		<p class="mg-lh-0 f-small"><strong class="hide-md">{{subtitle}} </strong>{{value}}</p>
		            	</div>
		            {{/each}}
	            </div>
          	</div>
          {{/each}}

        	<div class="col-xs-12 col-md-2 mg-bottom-xs-15">
        		<a href="" class="f-link openContent f-small" data-open-content="toggle-test{{@index}}">
  		        <span class="openContentText is-open f-small" data-rest-text="{{value}}" data-open-text="Cancelar">{{value}}</span>
  		        <i class="fa fa-angle-down" aria-hidden="true"></i>
  		      </a>
        	</div>

        	<div class="col-xs-12 pd-10 toggleContent" data-toggle-content="toggle-test{{@index}}">
        	  <div class="row row-xs-1 row-md-3 middle-xs">
        	  	<div class="col-xs-12 col-md-3 mg-bottom-xs-15">
        	  		<p class="mg-lh-0 f-small"><strong>Editar Estado</strong></p>
        	  	</div>

      	  		<div class="col-xs-12 col-md-6 u-select-ico-arrow bg-white mg-bottom-xs-15">
      	  		  <select class="cs-select cs-skin-border GeneralSelect selectSelected">
      	  		    <option value="">Selecciona un Estado</option>
      	  		    <option value="">Estado</option>
      	  		    <option value="">Estado 2</option>
      	  		  </select>
      	  		</div>

      	  		<div class="col-xs-12 col-md-3 mg-bottom-xs-15 end-sm start-md">
        	  		<a href="#" class="button button--full-xs button-primary disabled buttonOptionSelected">Aceptar</a>
        	  	</div>
        	  </div>
        	</div>



      	</div>
  		</div>

  	</div>
  {{/each}}

</div>



<div class="pagination__table">
  <div class="pagination">
    {{> pagination }}
  </div>
</div>