
	<nav class="sub-nav">
		<div class="sub-nav_container u-container">
			<div class="sub-nav_row u-row middle-xs bottom-sm">
				<div class="sub-nav_col col-xs-4 hide-sm">
					<button type="button" class="off-canvas_open button button-link" data-toggle="offCanvas">
						<span class="off-canvas_open_button">
							<i class="material-icons">menu</i>
						</span>
						<span class="off-canvas_close">
					  	<i class="material-icons">close</i>
					  </span>
					</button>
				</div>
				<div class="sub-nav_col col-xs-4 col-sm-6">
					<div class="sub-nav_irow u-row center-xs start-sm middle-xs bottom-sm">
						<figure class="sub-nav_image">
							<a href="http://www.elbuencamino.com/metlife-rebranding">
								<img src="{{root}}assets/img/logo.png" alt="Logotipo" width="150" />
							</a>
						</figure>
						<div class="sub-nav_name hide-xs show-sm">
							<h6>Hola</h6>
							<h6><a href="{{root}}datos-cliente/datos-cliente.html" class="f-link">Daniel Esteban</a></h6>
						</div>
					</div>
				</div>
				<div class="sub-nav_col col-xs-4 col-sm-6">
					<ul class="sub-nav_list u-row end-xs">
						<li class="sub-nav_list-item">
							<a href="{{root}}datos-cliente/datos-cliente.html" class="sub-nav_list-link f-link hide-xs show-sm">Mi Perfil</a>
						</li>
						<li class="sub-nav_list-item">
							<a href="login.html" class="sub-nav_list-link f-link">Salir</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>