
	<div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
		<div class="off-canvas_heading">
			<h6 class="off-canvas_heading_title center-xs">Hola Daniel Llanos</h6>

			<ul class="off-canvas_heading_menu u-space center-xs">
			  <li class="off-canvas_heading_menu_item">
			  	<a href="{{root}}datos-cliente/datos-cliente.html"><strong>Mi Perfil</strong></a>
			  </li>
			</ul>
		</div>

	  <ul class="off-canvas_menu">
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="{{root}}productos/productos.html">Mis Productos</a>
	    	<i class="material-icons">chevron_right</i>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="{{root}}pagos-en-linea/pagos-en-linea.html">Centro de Pagos</a>
	    	<i class="material-icons">chevron_right</i>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="{{root}}ayuda/ayuda.html">Ayuda</a>
	    	<i class="material-icons">chevron_right</i>
	    </li>
	  </ul>
	</div>