
	<nav class="nav hide-xs show-sm">
		<div class="nav_container u-container">
			<ul class="nav_list u-row center-xs dropdown menu" data-dropdown-menu>
				<li class="nav_list-item">
					<a href="#" class="nav_list-link f-link-white hide-xs show-sm F"><strong>Cartera</strong></a>
				</li>

				<li class="nav_list-item">
					<a href="#" class="nav_list-link f-link-white F"><strong>Reportes</strong></a>
				</li>

        <li class="nav_list-item">
          <a href="#" class="nav_list-link f-link-white F"><strong>Productos</strong></a>
        </li>

        <li class="nav_list-item">
          <a href="#" class="nav_list-link f-link-white F"><strong>Herramientas</strong></a>
        </li>

        <li class="nav_list-item">
          <a href="#" class="nav_list-link f-link-white F"><strong>Campañas</strong></a>
        </li>

				<li class="nav_list-item">
					<a href="#" class="nav_list-link f-link-white F"><strong>Soporte asesor</strong></a>
				</li>
			</ul>
		</div>
	</nav>