
	<nav class="nav hide-xs show-sm">
		<div class="nav_container u-container">
			<ul class="nav_list u-row center-xs dropdown menu" data-dropdown-menu>
				<li class="nav_list-item">
					<a href="{{root}}productos/productos.html" class="nav_list-link f-link-white hide-xs show-sm"><strong>MIS PRODUCTOS</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="{{root}}pagos-en-linea/pagos-en-linea.html" class="nav_list-link f-link-white"><strong>CENTRO DE PAGOS</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="{{root}}ayuda/ayuda.html" class="nav_list-link f-link-white"><strong>AYUDA</strong></a>
				</li>
			</ul>
		</div>
	</nav>