
	.sub-nav {
		background-color: white;
		padding: 1rem 0;
	}

	.sub-nav_image {
		img {
			max-width: 120px;
		}
	}

	.sub-nav_list {
		margin: 0;
		line-height: 1rem;
	}

	.sub-nav_list-item {
		margin-right: 1rem;
		&:last-of-type {
			margin-right: 0;
		}
	}

	.sub-nav_name {
		margin-left: 1rem;
	}

	@media screen and ( min-width: 48em ) {
		.sub-nav_name {
			h6 {
				display: inline-block;
			}
		}
	}

	@media screen and ( min-width: 62em ) {
		.sub-nav {
			background-color: white;
			padding: 2rem 0 1rem;
		}

		.sub-nav_image {
			img {
				max-width: 150px;
			}
		}
	}