
.nav-sub {
	background-color: white;
	padding: 1rem 0;
}

.nav-sub__image {
	img {
		max-width: 120px;
	}
}


//Breakpoint small

@media screen and ( min-width: 48em ) {


}



//Breakpoint medium

@media screen and ( min-width: 62em ) {

	.nav-sub__image {
		img {
			max-width: 150px;
		}
	}
  
}