
	.nav {
		background-color: $primary-accent;
	}

	.double-nav_sticky {
		.sub-nav {
			transition: all .3s cubic-bezier( .4,0,.2,1 );
		}
		.sub-nav_image {
			img {
				transition: all .3s cubic-bezier( .4,0,.2,1 );
			}
		}
		.is-stuck {
			.menu > li > a {
				padding: .5rem 40px;
			}
			.sub-nav {
				padding: 11px 0;
			}
			.sub-nav_image {
				img {
					max-width: 120px;
				}
			}
		}
	}

	.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
		border-color: white transparent transparent !important;
	}

	.menu {
		& > li {
			& > a {
				font-size: 14px;
				padding: 1.5rem 20px;
				strong {
					border-bottom: 1px solid transparent;
				}
				&:hover,
				&:active,
				&:focus {
					background-color: $primary;
					border-bottom: 0;
					color: white;
					strong {
						border-bottom: 1px solid white;
					}
				}
			}
		}
	}

	.sticky {
		width: 100%;
	}

	@media screen and ( min-width: 62em ) {

		.menu {
			& > li {
				& > a {
					padding: 1.5rem 40px;
				}
			}
		}

	}