
	@import './../../global/color.scss';

	.js-off-canvas-overlay {
		background-color: rgba( 0, 0, 0, 0 );
		z-index: 103;
	}

	.off-canvas.is-transition-overlap {
		z-index: 1003;
		&.is-open {
			box-shadow: none;
		}
	}

	.off-canvas {
		background-color: $white-light;
		padding: 20px 0;
		margin-top: 50px;
	}

	.off-canvas_close {
		display: none;
		cursor: pointer;
		i {
			color: $primary-accent;
		}
	}

	.off-canvas_open[aria-expanded="true"] {
		.off-canvas_open_button {
			display: none;
		}
		.off-canvas_close {
			display: inline-block;
		}
	}

	.off-canvas_menu_item {
		background-color: #e3e3e3;
		position: relative;
		a {
			color: $dark-gray-2;
			display: block;
			font-size: 14px;
			font-weight: bolder;
			letter-spacing: 1px;
			line-height: 30px;
			padding: 14px 10px;
			position: relative;
			text-transform: uppercase;
			z-index: 1;
		}
		i {
			position: absolute;
			right: 10px;
			top: 18px;
		}
	}

	.off-canvas_heading_menu_item {
		padding: 14px 10px 0;
	}

	.position-left {
		transform: translateX(-100%);
		width: 100%;
	}
