
<div class="banner_container u-space">
  <div class="banner_row">
    <div class="banner_col u-space">
      <figure>
        <img src="{{root}}/assets/images/home/banner.jpg" class="banner_img">
      </figure>  
      <div class="banner_content u-container">
        <h2 class="banner_title center-xs start-sm middle-xs">Metlife asesores</h2>
        <div class="u-row gutter-md">
          <div class="col-xs-12 col-md-6 u-space hide-xs show-sm">
            <div class="card_banner">
              <p class="f-bigger u-space">Busca en tu cartelera de clientes y productos</p>
              <div class="u-row center-xs u-space banner_tab_row">
                <div class="col-xs-6 tab_advised advised"><p class="zero">Asesorado</p></div>
                <div class="col-xs-6 policy"><p class="zero">Póliza</p></div>
              </div>
              <div class="u-row">
                <div class="col-xs-4"><input type="text" name="" placeholder="R.U.T"></div>
                <div class="col-xs-5 banner_gutter_col"><input type="text" name="" placeholder="Nombre"></div>
                <div class="col-xs-3 end-xs u-space-xs"><a href="#" class="button button-primary">Buscar</a></div>
                <div class="col-xs-12"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div> 
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 center-xs u-space hide-xs show-md">
            <div class="card_banner card_banner_xs">
              <p class="f-bigger u-space">Título de modulo para Campañas</p>
              <p class="u-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div>
                <a href="#" class="button button-primary">Ver campaña</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 u-space card_white hide-sm">
      <div class="card_container z-depth-1">
        <p class="f-bigger u-space">Busca en tu cartelera de clientes y productos</p>
        <div class="u-row center-xs u-space banner_tab_row">
          <div class="col-xs-6 tab_advised advised"><p class="zero">Asesorado</p></div>
          <div class="col-xs-6 policy"><p class="zero">Póliza</p></div>
        </div>
        <div class="u-row">
          <div class="col-xs-4"><input type="text" name="" placeholder="R.U.T"></div>
          <div class="col-xs-5 gutter_col"><input type="text" name="" placeholder="Nombre"></div>
          <div class="col-xs-3 end-xs u-space-xs"><a href="#" class="button button-primary">Buscar</a></div>
          <div class="col-xs-12"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div> 
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 center-xs card_white hide-md">
      <div class="card_container z-depth-1">
        <div class="">
          <p class="f-bigger u-space">Título de modulo para Campañas</p>
          <p class="u-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div>
            <a href="#" class="button button-primary">Ver campaña</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 