
<div class="space-bottom">
  <div>
    <div class="space-bottom banner-col">
      <figure>
        <img src="{{root}}assets/images/home/banner.jpg" class="banner-img">
      </figure>
      <div class="container banner-content">
        <h2 class="center-xs start-sm middle-xs banner-title">Metlife asesores</h2>
        <div class="row row-xs-1 row-md-2 gutter-md">
          <div class="col-xs-12 col-md-6 space-bottom hide-xs show-sm">
            <div class="card-banner bg-clarity">
              <p class="f-bigger space-bottom">Busca en tu cartelera de clientes y productos</p>
              <div class="row row-xs-2 center-xs space-bottom banner-tab">
                <div class="col-xs-6 banner-tab--client"><p class="zero">Asesorado</p></div>
                <div class="col-xs-6 banner-tab--policy"><p class="zero">Póliza</p></div>
              </div>

              <div class="row row-xs-3">
                <div class="col-xs-4"><input type="text" name="" placeholder="R.U.T"></div>
                <div class="col-xs-5 banner_gutter_col"><input type="text" name="" placeholder="Nombre"></div>
                <div class="col-xs-3 end-xs u-space-xs"><a href="#" class="button button-primary">Buscar</a></div>
                <div class="col-xs-12"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 center-xs space-bottom hide-xs show-md">
            <div class="card-banner bg-clarity">
              <p class="f-bigger u-space">Título de modulo para Campañas</p>
              <p class="u-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div>
                <a href="#" class="button button-primary">Ver campaña</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 u-space card-white hide-sm">
      <div class="card_container z-depth-1">
        <p class="f-bigger space-bottom">Busca en tu cartelera de clientes y productos</p>
        <div class="row row-xs-2 center-xs space-bottom banner_tab_row">
          <div class="col-xs-6 tab_advised advised"><p class="zero">Asesorado</p></div>
          <div class="col-xs-6 policy"><p class="zero">Póliza</p></div>
        </div>

        <div class="row row-xs-3">
          <div class="col-xs-4"><input type="text" name="" placeholder="R.U.T"></div>
          <div class="col-xs-5 gutter_col"><input type="text" name="" placeholder="Nombre"></div>
          <div class="col-xs-3 end-xs u-space-xs"><a href="#" class="button button-primary">Buscar</a></div>
          <div class="col-xs-12"><a href="#" class="f-link f-tiny">Mostrar cartera completa</a></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 center-xs card_white hide-md">
      <div class="card_container z-depth-1">
        <div class="">
          <p class="f-bigger space-bottom">Título de modulo para Campañas</p>
          <p class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div>
            <a href="#" class="button button-primary">Ver campaña</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>