
<div class="container">
  <div class="row row-xs-1 row-md-3">
    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="z-depth-2">
        <div class="row row-xs-2 space-bottom middle-xs">
          <div class="col-xs-4">
            <figure>
              <img src="{{root}}assets/images/home/calendar.png">
            </figure>
          </div>

          <div class="col-xs-8">
            <p><strong>Praesent commodo susrd magna, vel secle nisl condee</strong></p>
            <p>Julio 23, 2017 | <a href="#">Conferencia</a></p>
          </div>
        </div>

        <div class="col-xs-12">
          <p class="space-bottom">Praesent commodo susrd magna, vel secle nisl conde raesent commodo susrd magna, vel secle nisl cond raesent commodo susrd magna, vel secle nisl conde raesent comm susrd magna, vel secle nisl condee condee</p>
        </div>

        <div class="col-xs-12 end-xs bottom-xs">
          <a href="#" class="">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="z-depth-2">
        <h5 class="space-bottom center-xs">Componente Calendario</h5>
        <p class="space-bottom">Praesent commodo susrd magna, vel secle nisl conde raesent commo susr magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs">
          <a href="#" class="button button--primary">Ver calendario</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="z-depth-2">
        <h5 class="space-bottom center-xs">Título de Componente Calendario</h5>
        <p class="space-bottom">Praesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl condeePraesent commodo susrd magna, vel secle nisl</p>
        <div class="center-xs">
          <a href="#" class="button button--primary">Ver calendario</a>
        </div>
      </div>
    </div>
  </div>
</div>