
<div class="container">
  <div class="row row-xs-1 row-md-2 no-gutter">
    <!-- Tabla resumen indicadores -->
    <div class="col-xs-12 col-md-9 bg-white pd-30 z-depth-2">
      <h5 class="center-xs space-bottom">Resúmen Indicadores</h5>

      <div class="row row-xs-4 u-divider">
        <div class="col-xs-6">
          <p><strong>Indicador</strong></p>
        </div>

        <div class="col-xs-2 center-xs">
          <p><strong>Real</strong></p>
        </div>

        <div class="col-xs-2 center-xs">
          <p><strong>Plan Smeanal</strong></p>
        </div>

        <div class="col-xs-2 center-xs">
          <p><strong>%</strong></p>
        </div>
      </div>

      <div class="row row-xs-4 row-md-4 u-divider">
        <div class="col-xs-6 pd-left-25">
          <p>Cotizaciones (R.U.T. únicos</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">7</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">5</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">60%</p>
        </div>
      </div>

      <div class="row row-xs-4 row-md-4 u-divider">
        <div class="col-xs-6 pd-left-25">
          <p class=" ">Pólizas Sometidas</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">9</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">12</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p class="">113%</p>
        </div>
      </div>

      <div class="row row-xs-4 row-md-4 u-divider">
        <div class="col-xs-6">
          <p>
            <a href="" class="f-link openContent " data-open-content="uf-emitidas">          
              <i class="fa fa-plus plus-ico" aria-hidden="true"></i>
              <i class="fa fa-minus minus-ico" aria-hidden="true"></i>
              <span class="openContentText is-open pd-left-50" data-rest-text="Monto Total UF Emitidas" data-open-text="Monto Total UF Emitidas">Monto Total UF Emitidas
              </span>
            </a>
          </p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>45</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>9</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>20%</p>
        </div>
      </div>

      <!-- Contenido del desplegable -->
      <section class=" toggleContent no-padding-bottom" data-toggle-content="uf-emitidas">
        <div class="row row-xs-4 row-md-4 u-divider">
          <div class="col-xs-6 pd-left-50">
            <p class="">Monto total UF Emitidas Productos Ahorro</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>3</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>4</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>85%</p>
          </div>
        </div>

        <div class="row row-xs-4 row-md-4 u-divider">
          <div class="col-xs-6 pd-left-50">
            <p class="">Monto total UF Emitidas Productos Protección</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>10</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>7</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>70%</p>
          </div>
        </div>
      </section>
      <!-- Contenido del desplegable -->

      <div class="row row-xs-4 row-md-4 u-divider">
          <div class="col-xs-6 pd-left-25">
            <p class="">Monto total UF Emitidas Productos Protección</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>10</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>7</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>70%</p>
          </div>
        </div>

        <div class="row row-xs-4 row-md-4 u-divider space-bottom">
          <div class="col-xs-6">
            <p>
              <a href="" class="f-link openContent" data-open-content="card-more-mutuaria">          
                <i class="fa fa-plus plus-ico" aria-hidden="true"></i>
                <i class="fa fa-minus minus-ico" aria-hidden="true"></i>
                <span class="openContentText is-open pd-left-50 indicators-span" data-rest-text="Pólizas Emitidas Total" data-open-text="Pólizas Emitidas Total">Pólizas Emitidas Total
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>45</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>9</p>
          </div>

          <div class="col-xs-2 center-xs">
            <p>20%</p>
          </div>
        </div>
      
      <div>
        <div class="col-xs-12 center-xs">
          <a href="#" class="button button--primary">Descargar informe</a>
        </div>
      </div>
    </div>
    <!-- /Tabla resumen indicadores -->

    <div class="col-xs-3 hide-xs show-md">
      <figure>
        <img src="{{root}}assets/images/home/summary-indicators.png" class="indicators-img">
      </figure>
    </div>
  </div>
</div>