
<!-- Card cumpleaños -->

<div class="container">
  <div class="row row-xs-1 row-md-3">
    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="card-info-general z-depth-2 bg-white">
        <h5 class="center-xs space-bottom">Cumpleaños</h5>
        <div class=" u-divider">
          <p><a href="#">Constanza Isabel Palma Richardson Corvalan</a></p>
          <p>35 años</p>
        </div>

        <div class="u-divider pd-top-15">
          <p><a href="#">Constanza Isabel Palma Richardson Corvalan</a></p>
          <p>35 años</p>
        </div>

        <div class="space-bottom u-divider pd-top-15">
          <p><a href="#">Constanza Isabel Palma Richardson Corvalan</a></p>
          <p>35 años</p>
        </div>

        <div class="center-xs mg-top-60">
          <div class="card-info-general__button"><a href="#" class="button button--primary"><span>Ver todos</span></a></div>
        </div>
      </div>
    </div>


    <!-- Card herramientas -->

    <div class="col-xs-12 col-md-4 space-bottom ca">
      <div class="card-info-general z-depth-2 bg-white">
        <h5 class="space-bottom center-xs">Herramientas</h5>
        <div class="row row-xs-2 space-bottom u-divider middle-xs">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/cotiza.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>

          <div class="col-xs-10 mg-bottom-12">
            <p><a href="#">Cotiza</a></p>
            <p class="mg-lh-0">Crea un plan solución acorde a las necesidades de tus clientes.</p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom u-divider-bottom middle-xs">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/somete.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>

          <div class="col-xs-10 mg-bottom-12">
            <p><a href="#">Somete</a></p>
            <p class="mg-lh-0">Ingresa tus nuevos negocios.</p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom middle-xs">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/calculator.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>

          <div class="col-xs-10 mg-bottom-12">
            <p><a href="#">Simula un Endoso</a></p>
            <p class="mg-lh-0">Simula cambios en las pólizas de tus clientes.</p>
          </div>
        </div>

        <div class="center-xs mg-top-60">
          <div class="card-info-general__button"><a href="#" class="button button--primary">Ver todas</a></div>
        </div>
      </div>
    </div>



    <!-- Card calendarios -->

    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="card-info-general z-depth-2 bg-white">
        <h5 class="space-bottom center-xs">Calendarios</h5>

        <div class="row row-xs-2 space-bottom u-divider">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/cotiza.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>
          <div class="col-xs-10 space-bottom">
            <p class="mg-lh-0">Calendario de Procesos de Cierre.</p>
            <p><a href="#">Descargar Pdf</a></p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom u-divider">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/cotiza.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>
          <div class="col-xs-10 space-bottom">
            <p class="mg-lh-0">Calendario de Procesos de Cierre.</p>
            <p><a href="#">Descargar Pdf</a></p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom">
          <div class="col-xs-2 center-xs start-md">
            <figure>
              <img src="{{root}}assets/images/icons/cotiza.png" class="mx-width-40 mx-height-40" />
            </figure>
          </div>
          <div class="col-xs-10 space-bottom">
            <p class="mg-lh-0">Calendario de Procesos de Cierre.</p>
            <p><a href="#">Descargar Pdf</a></p>
          </div>
        </div>
      </div>
    </div>
</div>