
<div class="info_general_container u-container-md">
  <div class="info_general_row u-row gutter-xs">
    <div class="info_general_col col-xs-12 col-md-4 card_white u-space">
      <div class="card_container z-depth-2">
        <h5 class="center-xs u-space">Cumpleaños</h5>
        <div class="u-divider u-space">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>
        <div class="u-divider u-space">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>
        <div class="u-divider u-space">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>
        <div class="button_container center-xs"> 
          <div><a href="#" class="button button-primary">Ver todos</a></div>
        </div>
      </div>
    </div>

    <div class="info_general_col col-xs-12 col-md-4 card_white u-space">
      <div class="card_container z-depth-2">
        <h5 class="u-space center-xs">Herramientas</h5>
        <div class="u-row u-divider u-space">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}/assets/images/icons/ico-1.png" class="tool_ico-1"/></figure>
          </div>
          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Sometimiento</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="u-row u-divider u-space">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}/assets/images/icons/ico-2.png" class="tool_icons"/></figure>
          </div>
          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Cotizador</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="u-row u-space">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}/assets/images/icons/ico-3.png" class="tool_icons"/></figure>
          </div>
          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Cotizador</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="button_container center-xs">
          <div><a href="#" class="button button-primary">Ver todas</a></div>
        </div>
      </div>
    </div>  

    <div class="info_general_col col-xs-12 col-md-4 card_white u-space"> 
      <div class="card_container z-depth-2">
        <h5 class="center-xs u-space">{{tools.title}}</h5> 
          <div class="u-space">  
          {{#each tools.indicators}}      
            <div class="u-row indicators_row">
              <div class="col-xs-4"> 
                <p class="f-small">{{desc}}</p>  
              </div>              
              <div class="col-xs-2 center-xs"><p class="f-small">{{num-1}}</p></div>
              <div class="col-xs-2 center-xs"><p class="f-small">{{num-2}}</p></div>
              <div class="col-xs-2 center-xs"><p class="f-small">{{num-3}}</p></div>
              <div class="col-xs-2 center-xs {{state}} bullet_col"><p class="f-small">{{num-4}}</p></div> 
            </div>
          {{/each}} 
          </div>
        <div class="button_container center-xs">
          <div><a href="#" class="button button-primary">Descargar informe</a></div> 
        </div>
      </div>
    </div>
  </div>
</div>
