
<div class="container">
  <div class="row row-xs-1 row-md-3 gutter-xs">
    <div class="col-xs-12 col-md-4 space-bottom">
      <div class="card-info-general z-depth-2">
        <h5 class="center-xs space-bottom">Cumpleaños</h5>
        <div class="space-bottom">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>

        <div class="space-bottom">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>

        <div class="space-bottom">
          <a href="#" class="f-small">Constanza Isabel Palma Richardson <br>Corvalan</a>
          <p>35 años</p>
        </div>

        <div class="center-xs button_container">
          <div><a href="#" class="button button-primary">Ver todos</a></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom info_general_col">
      <div class="card-info-general z-depth-2">
        <h5 class="space-bottom center-xs">Herramientas</h5>
        <div class="row row-xs-2 space-bottom">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}assets/images/icons/ico-1.png" class="tool_ico-1"/></figure>
          </div>

          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Sometimiento</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}assets/images/icons/ico-2.png" class="tool_icons"/></figure>
          </div>

          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Cotizador</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="row row-xs-2 space-bottom">
          <div class="col-xs-2 center-xs start-md">
            <figure><img src="{{root}}assets/images/icons/ico-3.png" class="tool_icons"/></figure>
          </div>

          <div class="col-xs-10 info_gutter_col">
            <a href="#" class="f-small">Cotizador</a>
            <p class="f-small">Descripción corta de la herramienta, en dos renglones, texto simulado.</p>
          </div>
        </div>

        <div class="center-xs button_container">
          <div><a href="#" class="button button-primary">Ver todas</a></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom info_general_col">
      <div class="card-info-general z-depth-2">
        <h5 class="center-xs space-bottom">{{tools.title}}</h5>
        <div class="space-bottom">
        {{#each tools.indicators}}
          <div class="row row-xs-5 indicators_row">
            <div class="col-xs-4">
              <p class="f-small">{{desc}}</p>
            </div>

            <div class="col-xs-2 center-xs">
              <p class="f-small">{{num-1}}</p>
            </div>

            <div class="col-xs-2 center-xs">
              <p class="f-small">{{num-2}}</p>
            </div>

            <div class="col-xs-2 center-xs">
              <p class="f-small">{{num-3}}</p>
            </div>

            <div class="col-xs-2 center-xs {{state}} bullet_col">
              <p class="f-small">{{num-4}}</p>
            </div>
          </div>
        {{/each}}
        </div>

        <div class="button_container center-xs">
          <div><a href="#" class="button button-primary">Descargar informe</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
