
  <div class="container container-full-xs">
    <div class="row row-xs-1 row-md-2 no-gutter">
      <div class="col-xs-12 col-md-4 bg-primary-hover pd-15">
        <figure class="center-xs">
          <img src="{{root}}assets/images/home/logo-metclub.png">
        </figure>
      </div>

      <div class="col-xs-12 col-md-8 bg-primary-accent pd-30">
        <div class="row row-xs-1 row-md-2 middle-xs">
          <div class="col-xs-12 col-md-9 f-white">
            <h4 class="mg-bottom-10">MetClub: ¡Únicos en su clase!</h4>
            <p class="mg-bottom-xs-30">Concursa y gana increíbles premios, siendo parte de la comunidad MetClub</p>
          </div>

          <div class="col-xs-12 col-md-3 center-xs">
            <a href="#" class="button button--secondary button--full-xs">Ir</a>
          </div>
        </div>
      </div>
    </div>
  </div>