
<div class="container">
  <div class="row row-xs-1 row-md-2 no-gutter">
    <div class="col-xs-12 col-md-4">
      <figure class="metclub-figure">
        <img src="{{root}}/assets/images/home/metclub.png" class="metclub-img">
      </figure>
    </div>

    <div class="col-xs-12 col-md-8 bg-primary-accent">
      <div class="row row-xs-1 row-md-2 middle-xs">
        <div class="col-xs-12 col-md-9 center-xs start-md space-bottom">
          <h4 class="space-bottom">Título de componente MetClub</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>

        <div class="col-xs-12 col-md-3 center-xs space-bottom">
          <a href="#" class="button button--secondary">Ir a metclub</a>
        </div>
      </div>
    </div>
  </div>
</div>