
<div class="container container-full-xs">
  <div class="row row-xs-1 row-md-3">
    <div class="col-xs-12 col-md-4 space-bottom pd-15 bg-white z-depth-2">
      <div class="row row-xs-2 space-bottom middle-xs">
        <div class="col-xs-4">
          <figure>
            <img src="{{root}}assets/images/home/calendar.png">
          </figure>
        </div>

        <div class="col-xs-8">
          <p class="f-small">Julio 23, 2017</p>
          <p class="f-primary lh-18"><strong>Praesent commodo susrd magna, vel secle nisl condee</strong></p>
           <p>Tags:
            <a href="#" class="tag-news f-tiny">Conferencias</a>
            <a href="#" class="tag-news f-tiny">Noticias</a>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <p class="space-bottom lh-18 f-small">Praesent commodo susrd magna, vel secle nisl conde raesent commodo susrd magna, vel secle nisl cond raesent commodo susrd magna, vel secle nisl conde raesent comm susrd magna, vel secle nisl condee condee</p>
      </div>

      <div class="col-xs-12 end-xs bottom-xs">
        <a href="#" class="f-link">Leer Noticia</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom pd-15 bg-white z-depth-2">
      <div class="row row-xs-2 space-bottom middle-xs">
        <div class="col-xs-4">
          <figure>
            <img src="{{root}}assets/images/home/calendar.png">
          </figure>
        </div>

        <div class="col-xs-8">
          <p class="f-small">Julio 23, 2017</p>
          <p class="f-primary lh-18"><strong>Praesent commodo susrd magna, vel secle nisl condee</strong></p>
           <p>Tags:
            <a href="#" class="tag-news f-tiny">Conferencias</a>
            <a href="#" class="tag-news f-tiny">Noticias</a>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <p class="space-bottom lh-18 f-small">Praesent commodo susrd magna, vel secle nisl conde raesent commodo susrd magna, vel secle nisl cond raesent commodo susrd magna, vel secle nisl conde raesent comm susrd magna, vel secle nisl condee condee</p>
      </div>

      <div class="col-xs-12 end-xs bottom-xs">
        <a href="#" class="f-link">Leer Noticia</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 space-bottom pd-15 bg-white z-depth-2">
      <div class="row row-xs-2 space-bottom middle-xs">
        <div class="col-xs-4">
          <figure>
            <img src="{{root}}assets/images/home/calendar.png">
          </figure>
        </div>

        <div class="col-xs-8">
          <p class="f-small">Julio 23, 2017</p>
          <p class="f-primary lh-18"><strong>Praesent commodo susrd magna, vel secle nisl condee</strong></p>
           <p>Tags:
            <a href="#" class="tag-news f-tiny">Conferencias</a>
            <a href="#" class="tag-news f-tiny">Noticias</a>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <p class="space-bottom lh-18 f-small">Praesent commodo susrd magna, vel secle nisl conde raesent commodo susrd magna, vel secle nisl cond raesent commodo susrd magna, vel secle nisl conde raesent comm susrd magna, vel secle nisl condee condee</p>
      </div>

      <div class="col-xs-12 end-xs bottom-xs">
        <a href="#" class="f-link">Leer Noticia</a>
      </div>
    </div>

  </div>
</div>