
<div class="container">
  <div class="row row-xs-1 row-md-2 no-gutter">
    <!-- Tabla resumen indicadores -->
    <div class="col-xs-12 col-md-9 bg-white pd-30 z-depth-2">
      <h5 class="center-xs space-bottom">Resúmen de Pólizas</h5>

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8">
          <p><strong>Concepto</strong></p>
        </div>

        <div class="col-xs-2 center-xs">
          <p><strong>UF</strong></p>
        </div>

        <div class="col-xs-2 center-xs">
          <p><strong>Número</strong></p>
        </div>
      </div>

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8">
          <p>
            <a href="" class="f-link openContent " data-open-content="num-total-policy">
              <i class="fa fa-plus plus-ico" aria-hidden="true"></i>
              <i class="fa fa-minus minus-ico" aria-hidden="true"></i>
              <span class="openContentText is-open indicators-span" data-rest-text="Número Total Pólizas" data-open-text="Número Total Pólizas">Número Total Pólizas
              </span>
            </a>
          </p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>68</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>800</p>
        </div>
      </div>

      <!-- Contenido del desplegable -->
      <!-- <section class=" toggleContent no-padding-bottom" data-toggle-content="num-total-policy">
              <div class="row row-xs-3 u-divider-policy">
                <div class="col-xs-8 pd-left-50">
                  <p class="">Monto total UF Emitidas Productos Ahorro</p>
                </div>

                <div class="col-xs-2 center-xs">
                  <p>3</p>
                </div>

                <div class="col-xs-2 center-xs">
                  <p>4</p>
                </div>
              </div>

              <div class="row row-xs-3 u-divider-policy">
                <div class="col-xs-8 pd-left-50">
                  <p class="">Monto total UF Emitidas Productos Protección</p>
                </div>

                <div class="col-xs-2 center-xs">
                  <p>10</p>
                </div>

                <div class="col-xs-2 center-xs">
                  <p>7</p>
                </div>
              </div>
            </section> -->
      <!-- Contenido del desplegable -->

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8 pd-left-25">
          <p>VIDA</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>35</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>450</p>
        </div>
      </div>

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8 pd-left-25">
          <p>AP</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>12</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>200</p>
        </div>
      </div>

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8 pd-left-25">
          <p>APV</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>31</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>150</p>
        </div>
      </div>

      <div class="row row-xs-3 u-divider-policy">
        <div class="col-xs-8">
          <p>
            <a href="" class="openContent " data-open-content="num-total-policy-caducate">
              <i class="fa fa-plus plus-ico" aria-hidden="true"></i>
              <i class="fa fa-minus minus-ico" aria-hidden="true"></i>
              <span class="openContentText is-open indicators-span" data-rest-text="Número Total Pólizas Caducadas" data-open-text="Número Total Pólizas Caducadas">Número Total Pólizas Caducadas
                <a href="#" class="f-link f-tiny"> Ver Detalle</a>
              </span>
            </a>
          </p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>34</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>700</p>
        </div>
      </div>

      <div class="row row-xs-3 u-divider-policy space-bottom">
        <div class="col-xs-8">
          <p>
            <a href="" class="openContent " data-open-content="num-total-policy-caducate">
              <i class="fa fa-plus plus-ico" aria-hidden="true"></i>
              <i class="fa fa-minus minus-ico" aria-hidden="true"></i>
              <span class="openContentText is-open indicators-span" data-rest-text="Número Total Pólizas No Cobradas" data-open-text="Número Total Pólizas No Cobradas">Número Total Pólizas No Cobradas
              </span>
            </a>
          </p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>54</p>
        </div>

        <div class="col-xs-2 center-xs">
          <p>50</p>
        </div>
      </div>

      <div class="col-xs-12 center-xs">
        <a href="#" class="button button--primary">Descargar informe</a>
      </div>
    </div>
    <!-- /Tabla resumen indicadores -->

    <div class="col-md-3 hide-xs show-md">
      <figure>
        <img src="{{root}}assets/images/home/summary-indicators.png" class="policy-img">
      </figure>
    </div>
  </div>
</div>