
<div class="container">
  <div class="row row-xs-1 row-md-2 center-xs middle-xs">
    <div class="col-xs-12 col-md-4">
      <div>
        <p class="F">Valor uf ayer: <strong>$ 26.602,38</strong></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class=" z-depth-1">
        <p class="F f-bigger f-primary-accent"><strong>Valor uf hoy:</strong> $ 26.606,38</p>
        <p>(23/06/2017)</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div>
        <p class="F">Valor uf mañana: <strong>$ 26.612,38</strong></p>
      </div>
    </div>
  </div>
</div>