
<div class="value-UF_container u-container">
  <div class="value-UF_row u-row center-xs middle-xs">
    <div class="value-UF_col col-xs-12 col-md-4 card_blue">
      <div class="card_container_uf">
      <p class="F">Valor uf ayer: <strong>$ 26.602,38</strong></p>
    </div>
    </div>

    <div class="value-UF_col col-xs-12 col-md-4 card_white">
      <div class="card_container_uf z-depth-1">
        <p class="f-bigger F primary-accent"><strong>Valor uf hoy:</strong> $ 26.606,38</p>
        <p class="primary">(23/06/2017)</p>
      </div>
    </div>

    <div class="value-UF_col col-xs-12 col-md-4 card_blue">
      <div class="card_container_uf">
        <p class="F">Valor uf mañana: <strong>$ 26.612,38</strong></p>
      </div>
    </div>
  </div>
</div>