
<div class="container">
  <div class="row row-xs-2 row-md-2 no-gutter center-xs middle-xs">
    <div class="col-xs-6 col-md-4 bg-secondary pd-15 value-uf-yesterday">
      <p class="F mg-bottom-0">Valor uf ayer: <strong>$ 26.602,38</strong></p>
    </div>

    <div class="col-xs-12 col-md-4 z-depth-1 bg-white pd-10 first-xs order-none">
      <p class="F f-bigger mg-bottom-0"><strong class="mg-right-15">Valor uf hoy:</strong> $ 26.606,38</p>
      <p class="mg-bottom-0">(23/06/2017)</p>
    </div>

    <div class="col-xs-6 col-md-4 bg-secondary pd-15">
      <p class="F mg-bottom-0">Valor uf mañana: <strong>$ 26.612,38</strong></p>
    </div>
  </div>
</div>