
<div class="container">
  <div class="card card--green z-depth-2">
    <div class="row row-xs-2">
      <div class="col-xs-10">
        <h4><strong><a href="{{root}}productos/mutuaria/mutuaria.html" data-limit="38">MetLife Crédito Hipotecario Universal</a></strong></h4>
        <p>Póliza N° 312036709700</p>
      </div>

      <div class="col-xs-2 end-xs">
        <a href="{{root}}productos/mutuaria/mutuaria.html"><i class="card__icon fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>


    <div class="row row-xs-1 row-md-6">
      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Estado</strong> Vigente</p>
      </div>

      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Emitida</strong> 17/05/2009</p>
      </div>

      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Valor Póliza</strong> UF 2.14 / $ 52.000</p>
      </div>

      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Frecuencia:</strong> Semestral</p>
      </div>

      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Primas Pendientes</strong> 2</p>
      </div>

      <div class="col-xs-12 col-md-2">
        <p class="f-small"><strong>Prima Total</strong> UF 2.14 / $ 52.000</p>
      </div>      
    </div>

    <div class="col-xs-12 end-xs">
      <p>
        <a href="" class="f-link openContent" data-open-content="card-more-mutuaria">
        <span class="openContentText is-open" data-rest-text="Más Información" data-open-text="Menos Información">Más Información</span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
      </p>
    </div>


    <section class=" toggleContent no-padding-bottom" data-toggle-content="card-more-mutuaria">

      <div class="row u-divider">
        <div class="col-xs-12">
          <h6 class="card_sub-title"><strong>Otras Opciones</strong></h6>
        </div>

        <div class="col-xs-12">
          <p><a href="">Ver Otros Medios de Pago</a></p>
        </div>

        <div class="col-xs-12">
          <p><a href="">Descargar mi Dividendo</a></p>
        </div>

        <div class="col-xs-12">
          <p><a href="" class="">Ver Histórico de mis Pagos</a></p>
        </div>
        <div class="col-xs-12">
          <p><a href="" class="">Descargar mi Última Cartola Trimestral</a></p>
        </div>
      </div>
    </section>

  </div>
</div>
