
<div class="container space-bottom">
  <div class="u-divider">
    <h5>José Echeverría Soto</h5>
    <p>14.765.342-9<a href="#">Jose.echeverria.s@miempresa.cl</a></p>
  </div>

  <div class="row space-bottom">
    <figure>
      <img src="{{root}}assets/images/icons/cel.png" class="max-width-10" />
      <a href="#">+56 9 7456 789</a>
    </figure>
    <figure>
      <img src="{{root}}assets/images/icons/cel.png" class="max-width-10" >
      <a href="W">+56 9 7456 789</a>
    </figure>
  </div>

  <div class="end-xs">
    <a href="#">Descargar Ficha de Mantención</a>
  </div>

  <div class="card card--blue z-depth-2 pd-15">
    {{> card-data-profile }}
  </div>
</div>



<!-- Productos asociados a este cliente -->
<div class="container">
  <div class="row row-xs-1 row-md-5 u-divider space-bottom">
    <div class="col-xs-12 col-md-4">
      <h4>Productos Asociados a este Cliente:</h4>
    </div>

    <div class="col-xs-12 col-md-2">
      <p>Proteccion y salud</p>
    </div>

    <div class="col-xs-12 col-md-2">
      <p>Educación</p>
    </div>

    <div class="col-xs-12 col-md-2">
      <p>Grandes proyectos</p>
    </div>

    <div class="col-xs-12 col-md-2">
      <p>Jubilación</p>
    </div>
  </div>

  <div class="card card--green z-depth-2 pd-15">
    {{#each card-green}}
      {{> card-content }}
    {{/each}}
  </div>
</div>

<div class="container">
  <div class="card card--gray z-depth-2 pd-15"> 
    {{#each card-gray}}
      {{> card-content }}
    {{/each}}
  </div>
</div>

<div class="container">
  <div class="card card--pink z-depth-2 pd-15"> 
    {{#each card-pink}}
      {{> card-content }}
    {{/each}}
  </div>
</div>

<div class="container">
  <div class="card card--yellow z-depth-2 pd-15"> 
    {{#each card-yellow}}
      {{> card-content }}
    {{/each}}
  </div> 
</div>
<!-- /Productos asociados a este cliente -->
