<section>
  <div class="container">
    <h5 class="space-bottom">341 resultados encontrados</h5>

    <!-- Seleccionar filtros -->
    <div class="row row-xs-1 row-md-6 middle-xs">
      <div class="col-xs-12 col-md-2">
        <section class="u-select space-bottom">
          <select class="cs-select cs-skin-border GeneralSelect" onchange="location = this.value;">
            <option value="login.html" data-link="login.html">Filtrar</option>
            <option value="login-empresas.html" data-link="login-empresas.html">Corredores y Empresas</option>
          </select>
        </section>
      </div>

      <div class="col-xs-12 col-md-2">
        <section class="u-select space-bottom">
          <select class="cs-select cs-skin-border GeneralSelect" onchange="location = this.value;">
            <option value="login.html" data-link="login.html">Filtrar</option>
            <option value="login-empresas.html" data-link="login-empresas.html">Corredores y Empresas</option>
          </select>
        </section>
      </div>

      <div class="col-xs-12 col-md-2">
        <section class="u-select space-bottom">
          <select class="cs-select cs-skin-border GeneralSelect" onchange="location = this.value;">
            <option value="login.html" data-link="login.html">Filtrar</option>
            <option value="login-empresas.html" data-link="login-empresas.html">Corredores y Empresas</option>
          </select>
        </section>
      </div>

      <div class="col-xs-12 col-md-2">
        <section class="u-select space-bottom">
          <select class="cs-select cs-skin-border GeneralSelect" onchange="location = this.value;">
            <option value="login.html" data-link="login.html">Filtrar</option>
            <option value="login-empresas.html" data-link="login-empresas.html">Corredores y Empresas</option>
          </select>
        </section>
      </div>

      <div class="col-xs-12 col-md-2">
        <section class="u-select space-bottom">
          <select class="cs-select cs-skin-border GeneralSelect" onchange="location = this.value;">
            <option value="login.html" data-link="login.html">Filtrar</option>
            <option value="login-empresas.html" data-link="login-empresas.html">Corredores y Empresas</option>
          </select>
        </section>
      </div>

      <div class="col-xs-12 col-md-2 end-xs">
        <a href="#" class="f-link">Descargar PDF</a>
      </div>
    </div>
    <!-- /Seleccionar filtros -->

    <div class="row bg-primary pd-15 f-white">
      <div class="table-100">
        <p>Rut cliente</p>
      </div>

      <div class="table-300 ">
        <p>Nombre Cliente</p>
      </div>

      <div class="table-150">
        <p>N° Póliza</p>
      </div>

      <div class="table-360">
        <p>Producto</p>
      </div>

      <div class="table-100">
        <p>Emisión</p>
      </div>

      <div class="table-100 ">
        <p>Estado</p>
      </div>

      <div class="table-100">
        <p>Pag. Hasta</p>
      </div>

      <div class="table-100">
        <p>Frec. Pago</p>
      </div>

      <div class="table-100">
        <p>Ultim. Pago</p>
      </div>
    </div>

    <div class="row pd-15">
      <div class="table-100">
        <p>16357872-7</p>
      </div>

      <div class="table-300 ">
        <p>Jose Alfonso Genaro Rossel Palma</p>
      </div>

      <div class="table-150">
        <p>312036709700</p>
      </div>

      <div class="table-360">
        <p>Metlife Seguro de Vida y Ahorro Cras</p>
      </div>

      <div class="table-100">
        <p>18/07/2017</p>
      </div>

      <div class="table-100 ">
        <p>Anulado</p>
      </div>

      <div class="table-100">
        <p>18/07/2017</p>
      </div>

      <div class="table-100">
        <p>Semestral</p>
      </div>

      <div class="table-100">
        <p>Salud/otros</p>
      </div>
    </div>

    <div class="row row-xs-1 row-sm-2 pd-15">
      <div class="col-xs-12 col-sm-2">
        <div class="table-100">
          <a href="" class="f-link openContent" data-open-content="sample">
            <span class="openContentText is-open" data-rest-text="16357872-7" data-open-text="16357872-7">16357872-7
            </span>
          </a>
        </div>
      </div>

      <div class="row col-xs-12 col-sm-10 toggleContent toggleContent--responsive" data-toggle-content="sample">
        <div class="table-300">
          <p>Jose Alfonso Genaro Rossel Palma</p>
        </div>

        <div class="table-150">
          <p>312036709700</p>
        </div>

        <div class="table-360">
          <p>Metlife Seguro de Vida y Ahorro Cras</p>
        </div>

        <div class="table-100">
          <p>18/07/2017</p>
        </div>

        <div class="table-100 ">
          <p>Anulado</p>
        </div>

        <div class="table-100">
          <p>18/07/2017</p>
        </div>

        <div class="table-100">
          <p>Semestral</p>
        </div>

        <div class="table-100">
          <p>Salud/otros</p>
        </div>
      </div>

    </div>
  </div>
</section>