
	<div class="row center-xs space-bottom">
		<div class="pagination__new row start-xs hide-xs show-sm">
			<button class="button bg-white"><strong><i class="start-xs f-bigger fa fa-angle-double-left"></i></strong></button>
		</div>

		<div class="pagination__new row start-xs">
			<button class="button bg-white"><i class="f-bigger fa fa-angle-left"></i></button>
		</div>

		<div class="pagination__numbers row center-xs">
			<div class="pagination__numbers-item pagination-active">
				<a href="">1</a>
			</div>
      <div class="pagination__numbers-dots show-xs hide-sm">
				<span>...</span>
			</div>
			<div class="pagination__numbers-item hide-xs show-sm">
				<a href="">2</a>
			</div>
			<div class="pagination__numbers-item is-active">
				<a href="">3</a>
			</div>
      <div class="pagination__numbers-item hide-xs show-sm">
				<a href="">4</a>
			</div>
      <div class="pagination__numbers-item hide-xs show-sm">
				<a href="">5</a>
			</div>
		</div>

		<div class="pagination__new row start-xs hide-xs show-sm">
      <button class="button button--double-right bg-white"><strong><i class="start-xs f-bigger fa fa-angle-right"></i></strong></button>
    </div>

    <div class="pagination__new row start-xs hide-xs show-sm">
      <button class="button button--double-right bg-white"><strong><i class="start-xs f-bigger fa fa-angle-double-right"></i></strong></button>
    </div>
	</div>
