
	<div class="row center-xs space-bottom">
		<div class="pagination__new row start-xs hide-xs show-sm">
			<button class="button bg-white"><i class="fa fa-angle-double-left"></i></button>
		</div>

		<div class="pagination_new row start-xs">
			<button class="button button-small button-transparent bg-white"><i class="fa fa-angle-left"></i></button>
		</div>

		<div class="pagination__numbers row center-xs">
			<div class="pagination__numbers-item pagination-active">
				<a href="">1</a>
			</div>
      <div class="pagination__numbers-dots show-xs hide-sm">
				<span>...</span>
			</div>
			<div class="pagination__numbers-item hide-xs show-sm">
				<a href="">2</a>
			</div>
			<div class="pagination__numbers-item is-active">
				<a href="">3</a>
			</div>
      <div class="pagination__numbers-item hide-xs show-sm">
				<a href="">4</a>
			</div>
      <div class="pagination__numbers-item hide-xs show-sm">
				<a href="">5</a>
			</div>
			<div class="pagination__numbers-dots">
				<span>...</span>
			</div>
			<div class="pagination__numbers-item">
				<a href="">16</a>
			</div>
		</div>

		<div class="pagination_old u-row end-xs">
			<button class="button button-small button-transparent"><i class="fa fa-angle-right"></i></button>
		</div>

		<div class="pagination_old u-row end-xs hide-xs show-sm">
			<button class="button button-small button-transparent"><i class="fa fa-angle-double-right"></i></button>
		</div>
	</div>
