
<div class="pagination__numbers row center-xs space-bottom">
  <div class="pagination__numbers-item start-xs">
    <button class="button bg-white"><strong><i class="start-xs f-bigger fa fa-angle-double-left"></i></strong></button>
  </div>

  <div class="pagination__numbers-item start-xs">
    <button class="button bg-white"><i class="f-bigger fa fa-angle-left"></i></button>
  </div>

	<div class="pagination__numbers-item pagination-active">
		<a href="">1</a>
	</div>

	<div class="pagination__numbers-item">
		<a href="">2</a>
	</div>

	<div class="pagination__numbers-item is-active">
		<a href="">3</a>
	</div>

  <div class="pagination__numbers-item">
		<a href="">4</a>
	</div>

  <div class="pagination__numbers-item">
		<a href="">5</a>
	</div>

  <div class="pagination__numbers-item start-xs">
    <button class="button bg-white"><strong><i class="start-xs f-bigger fa fa-angle-right"></i></strong></button>
  </div>

  <div class="pagination__numbers-item start-xs">
    <button class="button bg-white"><strong><i class="start-xs f-bigger fa fa-angle-double-right"></i></strong></button>
  </div>
</div>
