
	@import './../global/color.scss';

	.login {
		padding-bottom: 3rem;
		background-color: $white-light;
	}

	.login_container {
		min-height: 500px;
	}

	.login_button {
		margin-bottom: 0;
	}

	.login_content {
		background-color: white;
		margin: 0 auto;
		max-width: 400px;
		padding: 5rem 1.6rem 0.5rem 1.6rem;
	}

	.login_form {
		.u-field {
			margin-top: 36px;
		}
		.u-space {
			p {
				margin-bottom: 0;
			}
		}
	}

	.login_form_pass {
		margin-bottom: 5px;
	}

	.login_list-item {
		p {
			margin-bottom: 0;
		}
	}

	.login_support {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.login_title {
		margin-top: 3rem;
		margin-bottom: 40px;
	}
	.login_row {
		background-color: #FFF;
	}
	.login_desc {
		font-size: 1rem;
		text-align: center;
		line-height: 130%;
	}

	.login_image {
		height: 100%;
		width: 100%;
		img {
			height: 300px;
			max-height: 300px;
			object-fit: cover;
			width: 100%;
		}
	}
	.select_clave_nueva {
		margin-top: 10px !important;
		margin-bottom: 0;
	}

	.login_image_complement {
		border-right: 50px solid $secondary;
		position: relative;
		&:before {
			background-color: $primary-accent;
			bottom: 0;
			content: "";
			left: 0;
			opacity: .8;
			position: absolute;
			top: 0;
			width: 80px;
		}
	}
	.recover_form p {
		margin-top: 0.2rem;
	}

	@media screen and ( min-width: 62em ) {

		.login_col {
			&:first-of-type {
				padding-right: 0;
				position: relative;
				&:after {
					background-color: rgba( 0, 97, 160, .7 );
					bottom: 0;
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					width: 100px;
				}
			}
			&:nth-of-type(2) {
				border-right: 100px solid $secondary;
				padding: 0 3rem;
			}
		}

		.login_image {
			min-height: 600px;
			img {
				height: 100%;
				max-height: none;
			}
		}

		.change-pass_image {
			img {
				height: 100%;
			}
		}

		.recover-pass_image {
			img {
				height: 100%;
			}
		}

	}