
@import './../global/colors.scss';

.reports-figure {
  min-height: 287px;
}

.reports-img {
  height: 287px;
  object-fit: cover;
  width: 100%;
}

.multi-select-checkbox {
  margin-bottom: 0;
  margin-right: 10px;
  position: relative;
}

.multiSel {
  margin-bottom: 0;
}

dt {
  position: relative;
  .multi-select-ico-arrow::after {
    content: '\25BE';
    font-size: 24px;
    right: 14px;
    top: 8px;
    color: $dark-gray-2;
    position: absolute;
    z-index: 4;
  }
}

.mutliSelect {
  li {
    margin-bottom: 6px;
  }
  span {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.u-select-ico-arrow {
  position: relative;
  &::after {
    content: '\25BE';
    font-size: 24px;
    right: 10px;
    top: 4px;
    color: $dark-gray-2;
    position: absolute;
    z-index: 2;
  }
}



@media screen and (min-width: 62em) {

  .reports-img {
    height: 0;
    min-height: 287px;
    object-fit: cover;
    width: 100%;
  }

}