
.tools-simulator-img {
  width: 100%;
  min-height: 160px;
  object-fit: cover;
}

.tools-simulator-row {
  padding: 30px 15px;
}



@media screen and ( min-width: 960px ) {

  .tools-simulator-row {
    padding: 0 15px 0 60px;
    height: 100%;
  }

}