
<div class="reveal" id="supportAdvisorFormSend" data-reveal>
  <div class="reveal__content space-top">
    <h4 class="space-bottom center-xs">Enviar Formulario por Email</h4>

    <div class="col-xs-12">
      <label><strong>Para:</strong></label>
      <input type="text" name="" placeholder="juancarlos.silva@gmail.com">
    </div>

    <div class="col-xs-12">
      <label><strong>Asunto</strong></label>
      <input type="text" name="" placeholder="Escribe un asunto">
    </div>
  </div>

  <div class="row row-xs-2 middle-xs">
    <div class="col-xs-8 end-xs">
      <a data-close aria-label="Close modal" class="col-xs-12 col-sm-3 f-link">Cancelar</a>
    </div>

    <div class="col-xs-4">
      <button class="button button--primary clientProfileUpdateData" data-close aria-label="Close modal" type="button">Enviar</button>
    </div>
  </div>
  
  <button class="close-button" data-close aria-label="Cerrar modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>