
<div class="reveal" id="supportAdvisorFormSend" data-reveal>
  <div class="reveal__content space-top">
    <h4 class="space-bottom center-xs">Enviar Formulario por Email</h4>

    <section class="space-bottom">
      <span class="input input--ichiro">
        <input class="input__field input__field--ichiro" data-live-validate="true" type="text" id="supportFormEmail" required />
        <label class="input__label input__label--ichiro" for="supportFormEmail">
          <span class="input__label-content input__label-content--ichiro">Correo Electrónico</span>
        </label>
        <p class="form-error f-tiny">No tenemos registrado este RUT.<br/>Por favor, revisa que esté correcto.</p>
      </span>
    </section>

    <section class="space-bottom">
      <span class="input input--ichiro">
        <input class="input__field input__field--ichiro" data-live-validate="true" type="text" id="supportFormAffair" required />
        <label class="input__label input__label--ichiro" for="supportFormAffair">
          <span class="input__label-content input__label-content--ichiro">Asunto</span>
        </label>
        <p class="form-error f-tiny">No tenemos registrado este RUT.<br/>Por favor, revisa que esté correcto.</p>
      </span>
    </section>
  </div>

  <div class="row row-xs-2 middle-xs">
    <div class="col-xs-8 end-xs">
      <a data-close aria-label="Close modal" class="col-xs-12 col-sm-3 f-link">Cancelar</a>
    </div>

    <div class="col-xs-4">
      <button class="button button--primary clientProfileUpdateData" data-close aria-label="Close modal" type="button">Enviar</button>
    </div>
  </div>
  
  <button class="close-button" data-close aria-label="Cerrar modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>