<div class="form-result-container container space-bottom pd-15">

  {{#each form-table}}
    <div class="row row-xs-1 row-md-2 pd-bottom-15 pd-top-15 table-row no-gutter u-divider">
      <div class="col-xs-12 col-md-8">
        <div>
          <p class="mg-bottom-0 f-small"><em>{{category}}</em></p>
          <p class="f-primary mg-bottom-0">
            <strong>
              <span>{{name-form}}</span>
            </strong>
          </p>
          {{#if desc}}
          <p class="mg-bottom-0 f-small">{{desc}}</p>
          {{/if}}
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="row row-xs-2 no-gutter">
          <div class="col-xs-4 mg-bottom-xs-15 mg-bottom-xs-15 end-md f-small">
            <a href="#" class="f-link">
              <img src="./../../assets/images/icons/shape.png" class="form-email-ico"/>
              {{download}}
            </a>
          </div>
          <div class="col-xs-8 mg-bottom-xs-15 mg-bottom-xs-15 end-md f-small">
            <a href="#" class="f-link" data-open="supportAdvisorFormSend">
              <img src="./../../assets/images/icons/e-mail.png" class="form-download-ico" />
              {{send-email}}
            </a>
          </div>
        </div>
      </div>

    </div>
  {{/each}}
</div>