
<div class="card_container z-depth-2 tabs-content" data-tabs-content="example-tabs">

  <div class="tabs-panel is-active" id="panel1">
    <div class="table table-scroll center-xs col-xs-12">
      <table class="table-responsive u-striped">
        <thead>
          <tr class="">
            <th class="table-3">
              <p class="table_title f-small start-xs">Nombre</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">R.U.T.</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Fecha de Nacimiento</p>
            </th> 
            <th class="table-1">
              <p class="table_title f-small start-xs">Edad</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Email</p>
            </th>
            <th class="table-2">
              <p class=" f-small">Teléfono</p> 
            </th>
          </tr>
        </thead>

        <tbody>  
          <tr class="{{striped}}">
            <td class="table-2" valign="middle">
              <p>xsax</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo">
              <p>asdsd</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Fecha Vencimiento">
              <p>CCCCCCCC</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Fecha Pago">
              <p>ddwdu8a</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Total Dividendo">
              <p>assax</p>
            </td>
          </tr>      
        </tbody>

      </table>
    </div>
  </div>

  <div class="tabs-panel" id="panel2">
    <div class="table table-scroll center-xs col-xs-12">
      <table class="table-responsive u-striped">
        <thead>
          <tr class="">
            <th class="table-3">
              <p class="table_title f-small start-xs">Nombre</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">R.U.T.</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Fecha de Nacimiento</p>
            </th>
            <th class="table-1">
              <p class="table_title f-small start-xs">Edad</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Email</p>
            </th>
            <th class="table-2">
              <p class=" f-small">Teléfono</p>
            </th>
          </tr>
        </thead>
        
        <tbody>              
          <tr class="">
            <td class="table-3" align="left" valign="middle" data-table-title="">
              <p class="f-small">Constanza Isabel Enríquez Compañon</p>
            </td>
            <td class="table-2" valign="middle" data-table-title="">
              <p class="f-small start-xs"><a href="#">15.674.834-9</a></p>
            </td>
            <td class="table-2" valign="middle" data-table-title="">
              <p class="f-small start-xs">18/07/2017</p>
            </td>
            <td class="table-1" valign="middle" data-table-title="">
              <p class="f-small start-xs">36 años</p>
            </td>
            <td class="table-2" valign="middle" data-table-title="">
              <p class="f-small start-xs">constanzaiecom@gmail.com</p>
            </td>
            <td class="table-2" valign="middle" data-table-title="">
              <p class="f-small start-xs">+56 9 6472354</p>
            </td>
          </tr>      
        </tbody>
      </table>
    </div>
  </div>

  <div class="tabs-panel" id="panel3"> 
    <div class="table table-scroll col-xs-12 ">
      <div class="u-row u-top hide-xs">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <p class="f-big f-error text-center">No se encontró resultados para el rango de fecha ingresada</p>
        </div>
      </div>

      <table class="table-responsive u-striped u-striped-more">
        <thead>
          <tr class="">
            <th class="table-3">
              <p class="table_title f-small start-xs">Nombre</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">R.U.T.</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Fecha de Nacimiento</p>
            </th>
            <th class="table-1">
              <p class="table_title f-small start-xs">Edad</p>
            </th>
            <th class="table-2">
              <p class="table_title f-small start-xs">Email</p>
            </th>
            <th class="table-2"> 
              <p class=" f-small">Teléfono</p> 
            </th> 
          </tr>
        </thead>       

        <tbody>  
          {{#each test.items}}     
          <tr class="{{striped}}">
            <td class="table-3" valign="middle"> 
              <a href="" class="f-link openContent" data-open-content="{{openContent}}">
                <span class="openContentText" data-rest-text="{{restText}}" data-open-text="{{restText}}" data-close="true">{{restText}}</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo">
              <p class="table_desc filterDataDesc" data-filter-data-desc="{{filterDataDesc}}">{{rut}}</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo"> 
              <p class="table_desc filterDataDesc" data-filter-data-desc="{{filterDataDesc}}">{{birthdate}}</p>
            </td>
            <td class="table-1 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo">
              <p class="table_desc filterDataDesc" data-filter-data-desc="{{filterDataDesc}}">{{edad}}</p>
            </td>
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo">
              <p class="table_desc filterDataDesc" data-filter-data-desc="{{filterDataDesc}}">{{email}}</p>
            </td> 
            <td class="table-2 hide-xs-important show-md-table-important" valign="middle" data-table-title="Estado Dividendo">
              <p class="table_desc filterDataDesc" data-filter-data-desc="{{filterDataDesc}}">{{pbx}}</p>  
            </td>               
          </tr>

          <tr class="toggleContent number-dividend" data-toggle-content="{{openContent}}"> 
            {{> table-info-dividents }}
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</div>