
	<section class="pagination u-top">
		<div class="u-row u-row-xs-full center-xs">
			<div class="pagination_new u-row start-xs hide-xs show-sm">
				<button class="button button-small button-transparent"><i class="fa fa-angle-double-left"></i></button>
			</div>

			<div class="pagination_new u-row start-xs">
				<button class="button button-small button-transparent"><i class="fa fa-angle-left"></i></button>
			</div>

			<div class="pagination_numbers u-row center-xs">
				<div class="pagination_numbers_item pagination-active">
					<a href="">1</a>
				</div>
        <div class="pagination_numbers_dots show-xs hide-sm">
					<span>...</span>
				</div>
				<div class="pagination_numbers_item hide-xs show-sm">
					<a href="">2</a>
				</div>
				<div class="pagination_numbers_item is-active">
					<a href="">3</a>
				</div>
        <div class="pagination_numbers_item hide-xs show-sm">
					<a href="">4</a>
				</div>
        <div class="pagination_numbers_item hide-xs show-sm">
					<a href="">5</a>
				</div>
				<div class="pagination_numbers_dots">
					<span>...</span>
				</div>
				<div class="pagination_numbers_item">
					<a href="">16</a>
				</div>
			</div>

			<div class="pagination_old u-row end-xs">
				<button class="button button-small button-transparent"><i class="fa fa-angle-right"></i></button>
			</div>

			<div class="pagination_old u-row end-xs hide-xs show-sm">
				<button class="button button-small button-transparent"><i class="fa fa-angle-double-right"></i></button>
			</div>
		</div>
	</section>
