
<div class="container">
  <div class="pd-10 card card--green z-depth-1">
    <div class="row row-xs-2">
      <div class="col-xs-10">
        <h4><a href="#">Metlife Crédito Hipotecario Universal</a></h4>
      </div>

      <div class="col-xs-2 end-xs">
        <a href="#"><i class="card__icon fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <p class="mg-bottom-20"><strong>Póliza Nº:</strong> <a href="" class="f-link">3120367097000</a></p>
    <div class="row row-xs-1 row-md-6 mg-bottom-10">
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Estado:</strong></p>
        <p class="mg-lh-0 f-small">Vigente</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Fecha Emisión:</strong></p>
        <p class="mg-lh-0 f-small">17/05/2009</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Valor Póliza:</strong></p>
        <p class="mg-lh-0 f-small">UF 2.14 / $ 52.000</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Frecuencia Pago:</strong></p>
        <p class="mg-lh-md-0 f-small">Semestral</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Primas Pendientes:</strong></p>
        <p class="mg-lh-md-0 f-small">1</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="mg-lh-md-0 f-small"><strong>Prima Total:</strong></p>
        <p class="mg-lh-md-0 f-small">UF 2.14 / $ 52.000</p>
      </div>
    </div>
    <div class="row row-xs-1 row-md-6 end-xs">
      <a href="" class="openContent f-link f-small" data-open-content="credito-hipotecario">
        <span class="openContentText is-open" data-rest-text="Más Información" data-open-text="Menos Información">Más Información</span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </a>
    </div>



    <div class="toggleContent" data-toggle-content="credito-hipotecario">
      <div class="">
        <p class="u-divider-bottom space-bottom"><strong>Detalle Prima Total</strong></p>
        <div class="row row-xs-1 row-md-4 space-bottom">
          <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
            <p class="mg-lh-0 f-small"><strong>Prima Básica:</strong></p>
            <p class="mg-lh-0 f-small">UF 15,02</p>
          </div>
          <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
            <p class="mg-lh-0 f-small"><strong>Prima en Exceso:</strong></p>
            <p class="mg-lh-0 f-small">UF 2,15 / $ 52.000</p>
          </div>
          <div class="col-xs-12 col-md-3 mg-bottom-xs-15">
            <p class="mg-lh-0 f-small"><strong>Aportes:</strong></p>
            <p class="mg-lh-0 f-small">UF 2,15 / $ 52.000</p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p class="mg-lh-0 f-small"><strong>Aportes Extraordinarios Recurrentes:</strong></p>
            <p class="mg-lh-0 f-small">UF 2,15 / $ 52.000</p>
          </div>
        </div>

        <p class="u-divider-bottom space-bottom"><strong>Composición Prima Básica</strong></p>
        <!-- Tabla Producto-1 -->
        <div class="striped-table z-depth-1 space-bottom scroll-table">
          <div class="row bg-primary-hover f-white pd-10 no-gutter scroll-row--products">
            <div class="table-200">
              <p class="mg-bottom-0 f-small">Asegurado</p>
            </div>

            <div class="table-950">
              <div class="row">

                {{#each heading}}
                  <div class="{{class}} hide-xs show-md">
                    <p class="mg-bottom-0 f-small">{{title}}</p>
                  </div>
                {{/each}}

              </div>
            </div>
          </div>

          {{#each attention-record}}
            <div class="row pd-10 table-row no-gutter scroll-row--products">
              <div class="table-200">
                <a href="" class="f-link openContent openContent--table lh-inherit" data-open-content="toggle-credito-hipotecario{{@index}}">
                  <span class="openContentText is-open f-small" data-rest-text="Carlos Pavez Erickson" data-open-text="Carlos Pavez Erickson">Carlos Pavez Erickson
                  </span>
                  <i class="fa fa-angle-down hide-md" aria-hidden="true"></i>
                </a>
              </div>

              <div class="table-950 toggleContent toggleContent--responsive" data-toggle-content="toggle-credito-hipotecario{{@index}}">
                <div class="row mg-top-xs-30">
                  {{#each content}}
                  <div class="{{class}} mg-bottom-xs-15">
                    <p class="hide-md mg-lh-0"><strong>{{title}}</strong></p>
                    <p class="mg-bottom-0 word-wrap f-small">
                      {{#if link}}
                        <a href="{{link}}" class="f-link">
                      {{/if}}
                        {{caption}}
                      {{#if link}}
                        </a>
                      {{/if}}
                    </p>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <!-- /Tabla Producto-1 -->
      </div>
    </div>
  </div>

</div>