
	{{#each products}}
		<div class="card bg-white {{card-color}} pd-10-30 z-depth-1 space-bottom">
		{{#each categories}}
			<!-- Card row -->
			<section>
				<div class="row row-xs-1 row-md-2 middle-md {{division-line}}">
					<div class="col-xs-12 col-md-8 mg-20-0">
						<h5>{{title}}</h5>
						<p class="mg-lh-0"><em>{{cat}}</em></p>
					</div>
					<div class="col-xs-12 col-md-4 end-xs">
			      <a href="" class="f-link openContent" data-open-content="{{slug}}-{{@index}}">
			        <span class="openContentText is-open f-small" data-rest-text="Más información y documentos" data-open-text="Cerrar">Más información y documentos</span>
			        <i class="fa fa-angle-down" aria-hidden="true"></i>
			      </a>
					</div>
				</div>

				<div class="toggleContent u-divider-bottom" data-toggle-content="{{slug}}-{{@index}}">
					<p class="space-bottom">La protección que tu familia necesita con la flexibilidad que buscas.</p>
					<div class="row">
						<div class="pd-right-30">
							<a href="#" class="f-link f-small">Descarga "Letra grande y simple"</a>
						</div>
						<div class="pd-right-30">
							<a href="#" class="f-link f-small">Descarga "Ficha técnica"</a>
						</div>
						<div class="pd-right-30">
							<a href="#" class="f-link f-small">Descarga "Ficha Comercial"</a>
						</div>
						<div class="pd-right-30">
							<a href="#" class="f-link f-small">Descarga Vídeo Promocional</a>
						</div>
						<div class="pd-right-30">
							<a href="#" class="f-link f-small">Descarga Condicionado General</a>
						</div>
					</div>
				</div>
			</section>
			<!-- / Card row -->
		{{/each}}
		</div>
	{{/each}}