
@import './../global/colors.scss';

.pagination__numbers-item, .pagination__numbers-dots {
  background-color: white;
  font-size: 14px;
  position: relative;
  a, span {
    border: 1px solid $gray;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    width: 100%;
    color: $primary-accent;
  }
  button {
    border: 1px solid $gray;
    color: $primary-accent;
    height: 100%;
    width: 100%;
    &:hover {
      color: $primary;
    }
  }
}

.pagination__new, .pagination_old, .pagination__numbers-item, .pagination__numbers-dots {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}


.pagination__numbers-dots {
  background-color: transparent;
  border: none;
  width: auto;
}

.pagination__numbers-item {
  a {
    &:hover {
      background-color: $gray;
      color: $primary;
    }
  }
  &.is-active {
    background-color: $primary-accent;
    border-color: $primary-accent;
    > a {
      color: $white;
      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}


@media only screen and ( min-width: 720px ) {
  .pagination__table {
    position: relative;
  }

  .pagination__select {
    min-width: 200px;
    position: absolute;
    right: 0;
    top: -10px;
  }
}