
.toggleContent {
	&.is-open {
		.card-gray {
			border: 0;
			padding: 0 !important;
		}
	}
}


.striped-table {
  .table-row:nth-child(even) {
    background-color: $white-light;
  }
  .table-row:nth-child(odd) {
    background-color: white;
  }
}




/* Table-portfolio */

[class="table-*"] {
  width: 80%;
}

.table-100 {
  width: 100%;
}

.table-150 {
  max-width: 150px;
}

.table-200 {
  max-width: 200px;
}

.table-300 {
  max-width: 300px;
}

.table-360 {
  max-width: 360px;
}

.table-370 {
  max-width: 370px;
}
/* /Table-portfolio */



/* Table-record-attention */

[class="table-*"] {
  width: 80%;
}

.table-30 {
  width: 33%;
}

.table-45 {
  width: 100%;
}

.table-50 {
  width: 50px;
}

.table-1080 {
  width: 1080px;
}

.table-1200 {
  width: 1200px;
}

/* /Table-record-attention */



@media only screen and ( min-width: 868px ) {

 

}



@media only screen and ( min-width: 960px ) {

  .scroll-row {
    width: 1200px;
  }

  .scroll-table {
    overflow-x: auto;
    overflow-y: hidden;
  }

	.toggleContent {
		&.is-open {
			.card-gray {
				border: 1px solid $medium-gray;
				padding: 15px !important;
			}
		}
	}


 


  /* Table-record-attention */
  .table-30 {
    width: 30px;
  }

  .table-45 {
    width: 45px;
  }

  .table-100 {
    width: 100px;
  }
  /* /Table-record-attention */


 .toggleContent.toggleContent--responsive {
    height: auto;
    opacity: 1;
    padding: 0;
    visibility: visible;
  }

  [class="table-*"] {
    width: 90%;
  }

}



@media screen and ( min-width: 1200px ) {
  [class="table-*"] {
    width: 90%;
  }

}